@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .scroll_div{
             overflow: scroll;
        }
</style>
<section class="content-header">
    <h1>
        Reportes de encuestas aplicadas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Reporte Encuestas</li>
    </ol>
</section>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Reportes Encuestas</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-12">
                    <div class="panel-group" id="Mygrafica" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="grafica">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#Mygrafica" href="#datosGrafica" aria-expanded="true" aria-controls="datosGrafica">Datos para graficar</a>
                                </h3>
                            </div>
                            <div id="datosGrafica" class="panel-collapse collapse" role="tabpanel" aria-labelledby="datosGrafica">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Selecciona la Encuesta</label>
                                            <select class="form-control" id="encuestas_list">
                                                <option value="0" selected disabled>---------</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Selecciona el Proceso</label>
                                            <select class="form-control" id="proceso_list" disabled>
                                                <option value="0" selected disabled>---------</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Fecha Inicio</label>
                                            <input type="date" class="form-control" id="inicio" disabled/>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Fecha Final</label>
                                            <input type="date" class="form-control" id="fin" disabled/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Tipo de Gráfica</label>
                                            <select class="form-control" id="grafica_list" disabled>
                                                <option value="0" selected disabled>---------</option>
                                                <option value="PieChart">PieChart</option>
                                                <option value="BarChart">BarChart</option>
                                                <option value="ScatterChart">ScatterChart</option>
                                                <option value="ColumnChart">ColumnChart</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-right:20px;">
                                        <p class="text-right">
                                            <button class="btn btn-primary" onclick="reportear()"><i class="fa fa-list-alt" aria-hidden="true"></i> Generar</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
      
                <hr />
                    <div class="row" style="display:none;" id="panel_imprimir">
                        <div class="col-md-12">
                            <h3 class="text-left">
                                <a onclick="printDiv('imprimir')" style="color:#428bca;"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>
                            </h3>
                            <div class="row">
                                <div class="col-md-12 well scroll_div" id="imprimir" style="height: 850px;">
                                    <h2 class="text-center" id="nombre_encuesta" style="color:#4b646f;"></h2>
                                    <h3 id="descripcion_encuesta" class="text-center" style="color: #4b646f"></h3>
                                    <hr />
                                    <div id="graficas" class="col-md-8 col-md-offset-2"></div>
                                </div>
                            </div>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
</div>
    </div>

<script src="~/plugins/slimScroll/jquery.slimscroll.js"></script>
<link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://neue.cc/linq.min.js"></script>
<script>
    var encuestas;
    $(function () {
        $('#servicios_contratados').slimScroll({
            height: '200px'
        });
    });
    $(document).ready(function () {
        $('.collapse').collapse('show');
        google.charts.load('current', { 'packages': ['corechart'] });

        $.ajax({
            url: "/Encuesta/getAllEncuestas/",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                encuestas = data;
                for (var i = 0; i < data.length; i++) {
                    $('#encuestas_list').append($('<option>', {
                        value: data[i].IdEncuesta,
                        text: data[i].TituloEncuesta
                    }));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });

        
    });

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    $("#encuestas_list").change(function () {
        $.ajax({
            url: "/ProcesoEncuesta/todosProcesos/",
            type: "GET",
            data:{'id_encuesta':$(this).val()},
            success: function (data, textStatus, jqXHR) {
                $('#proceso_list').empty();
                $('#proceso_list').append('<option value="0" selected>---------</option>');
                for (var i = 0; i < data.length; i++) {
                    $('#proceso_list').append($('<option>', {
                        value: data[i].IdProcesoEnc,
                        text: data[i].NombreProceso
                    }));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
        $("#proceso_list").removeAttr('disabled');
        $("#inicio").removeAttr('disabled');
        $("#fin").removeAttr('disabled'); 
        $("#grafica_list").removeAttr('disabled');
    });
    $('#proceso_list').on('change', function () {
        var valor = $(this).val();
        if (valor == 0) {
            $("#inicio").prop('disabled', false);
            $("#fin").prop('disabled', false);
        } else {
            $("#inicio").prop('disabled', true);
            $("#fin").prop('disabled', true);
        }
    });

    //poner activo el menu izquierdo
    $(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.5').addClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.21').addClass('active');
    });

    
    //genearar reporte
    function reportear() {
        $('#chart1_div').empty();
        var encuesta = $('#encuestas_list').val();
        var proceso = $('#proceso_list').val();
        var grafica_tipo = $('#grafica_list').val();
        var inicio = $('#inicio').val();
        var ifecha = new Date(inicio);
        inicio = ifecha.getDate()+1 + "/" + (ifecha.getMonth() + 1) + "/" + ifecha.getFullYear();
        var fin = $('#fin').val();
        var ffecha = new Date(fin);
        fin = ffecha.getDate()+1 + "/" + (ffecha.getMonth() + 1) + "/" + ffecha.getFullYear();
        var grafica_tipo = $('#grafica_list').val();
        if (encuesta == null) {
            swal("Por favor selecciona una encuesta", "", "error");
        } else {
            if (proceso == 0) {
                if(fin == "" && inicio == ""){
                    swal("Por favor introduce la fecha de inicio y termino del reporte", "", "error");
                } else {
                    if (grafica_tipo == null) {
                        swal("Por favor selecciona el tipo de grafica", "", "error");
                    } else {
                        $('.collapse').collapse('hide'); 
                        $('#datosGrafica').collapse('hide');
                        $.ajax({
                            url: "/Encuesta/getGrafica/",
                            type: "GET",
                            data: { 'proceso': proceso,'encuesta':encuesta,'inicio':inicio,'fin':fin },
                            success: function (data, textStatus, jqXHR) {                             
                                var linq = Enumerable.From(data);
                                var result = linq.GroupBy(function (x) { return x.IdPregunta; }).ToArray();
                                for (var i = 0; i < encuestas.length; i++) {
                                    if (encuesta == encuestas[i].IdEncuesta) {
                                        $('#nombre_encuesta').text(encuestas[i].TituloEncuesta);
                                        $('#descripcion_encuesta').text(encuestas[i].Descripcion);
                                    }
                                }
                                $('#graficas').empty();
                                for (var i = 0; i < result.length; i++) {
                                    var grafica = {};
                                    grafica.cols = new Array();
                                    grafica.rows = new Array();
                                    grafica.cols.push({ "id": "", "label": "Preguntas", "pattern": "", "type": "string" },
                                                        { "id": "", "label": "Respuestas", "pattern": "", "type": "number" });
                                    var div = randomString(5, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
                                    for (var j = 0; j < result[i].source.length; j++) {
                                        if (j == 0) {
                                            $('#graficas').append('<div><h5><strong>Pregunta</strong></h5> <h4>' + result[i].source[j].Pregunta + '</h4> <div id="abietas' + div + '" style="display:none;"></div><br /><div id=' + div + '></div><hr /></div>');
                                        }
                                        if (result[i].source[j].IdTipoPregunta == 1) {
                                            $('#abietas' + div).show();
                                            $('#abietas' + div).append('<li>' + result[i].source[j].RespuestaAbierta + '</ul>');
                                        } else {
                                            $('#abietas' + div).hide();
                                            var c = {};
                                            c.c = new Array();
                                            c.c.push({ "v": result[i].source[j].Respuesta }, { 'v': result[i].source[j].Cantidad });
                                            grafica.rows.push(c);
                                        }
                                    }

                                    if (result[i].source[0].IdTipoPregunta != 1) {
                                        var datosGrafica = JSON.stringify(grafica);
                                        graficar(datosGrafica, result[i].source[0].Pregunta, div, grafica_tipo);
                                        $('#panel_imprimir').show();
                                    }

                                }

                            },
                            error: function (jqXHR, textStatus, errorThrown) {

                            }
                        });
                    }
                }
            } else {
                if (grafica_tipo == null) {
                    swal("Por favor selecciona el tipo de grafica", "", "error");
                } else {
                    $('.collapse').collapse('hide');
                    $('#datosGrafica').collapse('hide');
                    $.ajax({
                        url: "/Encuesta/getGrafica/",
                        type: "GET",
                        data: { 'proceso': proceso },
                        success: function (data, textStatus, jqXHR) {
                            var linq = Enumerable.From(data);
                            var result = linq.GroupBy(function (x) { return x.IdPregunta; }).ToArray();
                            for (var i = 0; i < encuestas.length; i++) {
                                if (encuesta == encuestas[i].IdEncuesta) {
                                    $('#nombre_encuesta').text(encuestas[i].TituloEncuesta);
                                    $('#descripcion_encuesta').text(encuestas[i].Descripcion);
                                }
                            }
                            $('#graficas').empty();
                            for (var i = 0; i < result.length; i++) {
                                var grafica = {};
                                grafica.cols = new Array();
                                grafica.rows = new Array();
                                grafica.cols.push({ "id": "", "label": "Preguntas", "pattern": "", "type": "string" },
                                                    { "id": "", "label": "Respuestas", "pattern": "", "type": "number" });
                                var div = randomString(5, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
                                for (var j = 0; j < result[i].source.length; j++) {
                                    if (j == 0) {
                                        $('#graficas').append('<div><h5><strong>Pregunta</strong></h5> <h4>' + result[i].source[j].Pregunta + '</h4> <div id="abietas' + div + '" style="display:none;"></div><br /><div id=' + div + '></div><hr /><br /></div>');
                                    }
                                    console.log(result[i].source[j].IdTipoPregunta);
                                    if (result[i].source[j].IdTipoPregunta == 1) {
                                        $('#abietas' + div).show();
                                        $('#abietas' + div).append('<li>' + result[i].source[j].RespuestaAbierta + '</ul>');
                                    } else {
                                        $('#abietas' + div).hide();
                                        var c = {};
                                        c.c = new Array();
                                        c.c.push({ "v": result[i].source[j].Respuesta }, { 'v': result[i].source[j].Cantidad });
                                        grafica.rows.push(c);
                                    }
                                }

                                if (result[i].source[0].IdTipoPregunta != 1) {
                                    var datosGrafica = JSON.stringify(grafica);
                                    graficar(datosGrafica, result[i].source[0].Pregunta, div, grafica_tipo);
                                    $('#panel_imprimir').show();
                                }

                            }

                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }
                    });
                }
            }
            
                
            }
        
    }

    function randomString(length, chars) {
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }

    function graficar(datos, titulo, div, grafica) {
        google.charts.setOnLoadCallback(load_page_data);
        function load_page_data() {
            drawChart(datos, titulo, "Respuestas", div, grafica);

        }

    }

    function drawChart(chart_data, chart1_main_title, chart1_vaxis_title, div, grafica) {
        var chart1_data = new google.visualization.DataTable(chart_data);
        var chart1_options;
        if (grafica == "PieChart") {
          chart1_options = {
                title: chart1_main_title,
                width: 650, height: 400,
                legend: {
                    position: 'labeled',
                    textStyle: { fontSize: 12 }
                },
                pieSliceText: 'value',
                fontSize: 18,
                is3D: true,
                vAxis: {
                    title: chart1_vaxis_title, titleTextStyle: { color: 'Black' }
                },
                chartArea: {
                    left: 70,
                    top: 10,
                    width: 600,
                    height: 300
                }
            };
        } else {
            chart1_options = {
                title: chart1_main_title,
                width: 650, height: 400,
                legend: {
                    position: 'labeled',
                },
                pieSliceText: 'value',
                is3D: true,
                vAxis: {
                    title: chart1_vaxis_title, titleTextStyle: { color: 'Black' }
                },
                chartArea: {
                    left: 70,
                    top: 10,
                    width: 600,
                    height: 300
                }
            };
        }
       

        if (grafica == "PieChart") {
            var chart1_chart = new google.visualization.PieChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "BarChart") {
            var chart1_chart = new google.visualization.BarChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "ScatterChart") {
            var chart1_chart = new google.visualization.ScatterChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "ColumnChart") {
            var chart1_chart = new google.visualization.ColumnChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        }

        
    }
    
</script>
