@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Reportes de encuestas aplicadas
        <small>Reportes Encuestas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Reporte Encuestas</li>
    </ol>
</section>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Reportes Encuestas</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Selecciona la plaza</label>
                            <select class="form-control" id="plazas"><option selected disabled>---------</option></select>
                        </div>
                        <div class="col-md-6">
                            <label>Selecciona la encuesta</label>
                            <select class="form-control" id="encuestas_list" disabled>
                                <option value="0" selected disabled>---------</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Fecha Inicio</label>
                            <input type="date" id="inicio" class="form-control" disabled />
                        </div>
                        <div class="col-md-3">
                            <label>Fecha Fin</label>
                            <input type="date" id="fin" class="form-control" disabled />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Tipo de Gráfica</label>
                            <select class="form-control" id="grafica_list" disabled>
                                <option value="0" selected disabled>---------</option>
                                <option value="PieChart">PieChart</option>
                                <option value="BarChart">BarChart</option>
                                <option value="ScatterChart">ScatterChart</option>
                                <option value="ColumnChart">ColumnChart</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding-right:20px;">
                        <p class="text-right">
                            <button class="btn btn-primary" onclick="reportear()"><i class="fa fa-list-alt" aria-hidden="true"></i> Generar</button>
                        </p>
                    </div>
      
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3 id="nombre_encuesta" class="text-center" style="color:#5bc0de;"></h3><br />
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


<link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://neue.cc/linq.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Conexion/ListaConexiones/",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                for (var i = 0; i < data.length; i++) {
                    $('#plazas').append($('<option>', {
                        value: data[i].IdConexion,
                        text: data[i].Plaza
                    }));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
        google.charts.load('current', { 'packages': ['corechart'] });

        $.ajax({
            url: "/Encuesta/getAllEncuestas/",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                for (var i = 0; i < data.length; i++) {
                    $('#encuestas_list').append($('<option>', {
                        value: data[i].IdEncuesta,
                        text: data[i].Descripcion
                    }));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });

        
    });
    $("#plazas").change(function () {
        $("#encuestas_list").removeAttr('disabled');
        $("#inicio").removeAttr('disabled');
        $("#fin").removeAttr('disabled'); 
        $("#grafica_list").removeAttr('disabled');
    });

    //poner activo el menu izquierdo
    $(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.5').addClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.21').addClass('active');
    });

    
    //genearar reporte
    function reportear() {
        $('.collapse').collapse('hide');
        $('#chart1_div').empty();
        var encuesta = $('#encuestas_list').val();
        var inicio = $('#inicio').val();
        var fin = $('#fin').val();
        var plaza = $('#plazas').val();
        var grafica_tipo = $('#grafica_list').val();
        if (encuesta == null) {
            swal("Por favor selecciona una encuesta", "", "error");
        } else {
            if(inicio == ""){
                swal("Por favor selecciona la fecha de inicio", "", "error");
            } else {
                if(fin == ""){
                    swal("Por favor selecciona la fecha final", "", "error");
                } else {
                    if (grafica_tipo == null) {
                        swal("Por favor selecciona el tipo de grafica", "", "error");
                    } else {
                        $('#accordion').empty();
                        $.ajax({
                            url: "/Encuesta/getGrafica/",
                            type: "GET",
                            data: { 'plaza': plaza, 'idencuesta': encuesta, 'finicio': inicio, 'ffin': fin },
                            success: function (data, textStatus, jqXHR) {

                                var linq = Enumerable.From(data);
                                var result = linq.GroupBy(function (x) { return x.IdPregunta; }).ToArray();


                                for (var i = 0; i < result.length; i++) {
                                    var grafica = {};
                                    grafica.cols = new Array();
                                    grafica.rows = new Array();
                                    grafica.cols.push({ "id": "", "label": "Preguntas", "pattern": "", "type": "string" },
                                                        { "id": "", "label": "Respuestas", "pattern": "", "type": "number" });
                                    var div = randomString(5, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
                                    for (var j = 0; j < result[i].source.length; j++) {
                                        console.log(result[i].source[j]);
                                        if (j == 0) {
                                            $('#accordion').append('<div class="panel panel-default"><div class="panel-heading" role="ab" id="headingOne"><h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + div + '" aria-expanded="true" aria-controls="collapseOne">' + result[i].source[j].Pregunta + '</a></h4></div><div id="collapse' + div + '" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"><div class="panel-body"><div class="row"><div class="col-md-6 col-md-offset-3"><div id=' + div + '></div></div></div></div></div></div>');
                                        }
                                        var c = {};
                                        c.c = new Array();
                                        c.c.push({ "v": result[i].source[j].Respuesta }, { 'v': result[i].source[j].Cantidad });
                                        grafica.rows.push(c);
                                    }
                                    var datosGrafica = JSON.stringify(grafica);
                                    graficar(datosGrafica, result[i].source[0].Pregunta, div, grafica_tipo);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {

                            }
                        });
                    }
                }
            }
        }
    }

    function randomString(length, chars) {
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }

    function graficar(datos, titulo, div, grafica) {
        google.charts.setOnLoadCallback(load_page_data);
        function load_page_data() {
            drawChart(datos, titulo, "Cantidad", div, grafica);

        }

    }

    function drawChart(chart_data, chart1_main_title, chart1_vaxis_title, div, grafica) {
        var chart1_data = new google.visualization.DataTable(chart_data);
        var chart1_options = {
            title: chart1_main_title,
            vAxis: {
                title: chart1_vaxis_title, titleTextStyle: { color: 'Black' }, width: 600,
                height: 300
            }
        };


        if (grafica == "PieChart") {
            var chart1_chart = new google.visualization.PieChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "BarChart") {
            var chart1_chart = new google.visualization.BarChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "ScatterChart") {
            var chart1_chart = new google.visualization.ScatterChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        } else if (grafica == "ColumnChart") {
            var chart1_chart = new google.visualization.ColumnChart(document.getElementById(div));
            chart1_chart.draw(chart1_data, chart1_options);
        }

        
    }
    
</script>
