<style type="text/css" media="screen">
    #contenedor {
        position: relative;      
    }

    #cubrir-frame {
        position: absolute;
        z-index: 3;
        width: 700px;
        height: 100%;
    }

    iframe {
        position: relative;
        z-index: 2;
    }
    #ty{}
</style>
<link href="~/dist/js/jquery.flexdatalist.css" rel="stylesheet" />
<script src="~/dist/js/jquery.flexdatalist.js"></script>



<section class="content-header">
    <h1>
        Encuestas
        <small>Administración de encuestas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Encuestas</li>
    </ol>
</section>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Encuestas</h3>
           
            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaEncuesta" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>ID</b></td>
                            <td><b>Nombre Encuesta</b> </td>
                            <td><b>Detalle</b></td>
                            @*<td><b>Fecha</b></td>*@
                            <td ><b>Opciones</b></td>
                        </tr>
                    </thead>

                    <tfoot>

                    </tfoot>

                </table>

            </div>
        </div>

    </div>

</div>
<div class="modal fade  bs-example-modal-lg" id="ModalAgregarEncuesta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="tituloModalAgregarEncuesta" style="font-weight:bold;">Agregar Encuesta</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                        <li class=""><a href="#tab_2" id="tab-preguntas" data-toggle="tab" aria-expanded="false">Preguntas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="nombreEncuesta" placeholder="Nombre de la encuesta">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="Descripcion_encuesta" placeholder="Descripción de la encuesta"></textarea>
                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-xs-2 col-xs-offset-7"><button class="btn btn-success btn-xs pull-left" id="AddPregunta" onclick="DetallePreguntas();"><i class="fa fa-plus" aria-hidden="true"></i> Agregar pregunta</button></div>
                                <div class="col-xs-3"><button class="btn btn-info btn-xs pull-left" id="ShowCatalogo" onclick="ShowCatalogoPreguntas();"><i class="fa fa-list" aria-hidden="true"></i> Catálogo de preguntas</button></div>
                            </div>




                            <hr style="color:#0094ff; background-color:#0094ff;" />
                            <div class="row">
                                <table class="table" id="tablaPreguntas" style="display:none;">
                                    <thead>
                                        <tr>
                                            <td><b>PREGUNTA</b></td>
                                            <td><b>TIPO RESPUESTA</b></td>
                                            <td><b>OPCIONES</b></td>
                                        </tr>
                                    </thead>
                                    <tbody id="TbodyPreguntas"></tbody>


                                </table>
                                <div class="callout callout-warning" id="msnTablavacia">
                                    <h4 class="text-center">Atención!</h4>
                                    <p class="text-center">Aún no tienes preguntas agregadas dentro de la encuesta.</p>
                                </div>

                            </div>
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">

                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="idEncuesta" />
                <button class="btn btn-primary " type="button" data-dismiss="modal">cerrar</button>
                <button class="btn btn-success" id="guardarEncuesta" type="button"><i class="fa fa-check" aria-hidden="true"></i> Guardar encuesta</button>
                <button class="btn btn-success" id="EditarEncuesta" type="button"><i class="fa fa-check" aria-hidden="true"></i> Editar encuesta</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalAgregarPregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table" id="tablaPreguntas">
                        <thead>
                            <tr>
                                <td>PREGUNTA</td>
                                <td>TIPO RESPUESTA</td>

                            </tr>
                        </thead>
                        <tbody id="TbodyPreguntas">
                            <tr>
                                <td><input type='text' id="NombrePregunta" class='form-control' placeholder='Escribe tu pregunta'></td>
                                <td>
                                    <select id='TipoPregunta' class='form-control'>
                                        <option disabled value="0">Selecciona el tipo de pregunta</option>
                                        <option value='1'>Pregunta abierta</option>
                                        <option value='2'>Pregunta cerrada</option>
                                        <option value='3'>Pregunta con opciones multiples</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row" id="PanelPreguntaAbierta" style="display:none;">


                        </div>
                        <div class="row" id="PanelPreguntaCerrada" style="display:none; margin-left:30px;">
                            <button id="AgregarRespuestasC" onclick="AgregarRespuesta()"  class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar respuesta</button>
                            <hr style="width:30px;" />
                            <table class="table" id="TablaRespuestasC" style="width:50%; margin-left:30px;">
                                <thead>
                                    <tr><td></td><td>Descripción</td><td>Opciones</td></tr>
                                </thead>
                                <tbody id="PanelPreguntaCerrada-tbody"></tbody>

                            </table>


                        </div>
                        <div class="row" id="PanelPreguntaOptMultiple" style="display:none; margin-left:30px;">

                            <button id="AgregarRespuestasOM" onclick="AgregarRespuesta()" class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar opción</button>

                            <table class="table" id="TablaRespuestasOM" style="width:50%; margin-left:30px;">
                                <thead>
                                    <tr><td></td><td>Descripción</td><td>Opciones</td></tr>
                                </thead>
                                <tbody id="PanelPreguntaOptMultiple-tbody"></tbody>

                            </table>
                        </div>


                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-success" id="GuardarPregunta" type="button">Agregar pregunta</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalDetalleEncuesta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Preview </h4>
            </div>
            <div class="modal-body" style=" width:100%; overflow-y: auto; height: 800px;">

                <div class="contenedor" style="height: 100%;">
                    <div id="cubrir-frame"></div>
                    <iframe id="ipreview" src="" style="width:100%; height:100%"></iframe>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-right" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalDetallePregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalle Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="box box-info">

                    <table class="table" style="width:60%;">
                        <tbody id="Detalle-tbody"></tbody>

                    </table>



                    <div class="col-xs-12" id="posibles_respuestas">
                        <h5 class="text-muted">Posibles respuestas :</h5>
                        <select multiple="" class="form-control" id="detalleresp" style="width:60%;"></select>

                    </div>
                </div>





            </div>
            <br />
            <div class="modal-footer">
                <button class="btn btn-primary pull-left" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEliminaPregunta" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Eliminar pregunta</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idpregunta" />
                <p class="red">¿Realmente deseas eliminar esta pregunta?</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger" type="button" id="confirmaEliminaPregunta">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEliminarEncuesta" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Eliminar Encuesta</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Modal_id_encuesta" />
                <p class="red">¿Realmente deseas eliminar la encuesta <strong id="Modal_nombre_encuesta"></strong>?</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger" type="button" id="EliminaEncuesta">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalEditarPregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table" id="tablaPreguntas">
                        <thead>
                            <tr>
                                <td>PREGUNTA</td>
                                <td>TIPO RESPUESTA</td>

                            </tr>
                        </thead>
                        <tbody id="TbodyPreguntas">
                            <tr>
                                <td><input type='text' id="ed_NombrePregunta" class='form-control' placeholder='Escribe tu pregunta' disabled></td>
                                <td>
                                    <select id='ed_TipoPregunta' class='form-control'>
                                        <option disabled value="0">Selecciona el tipo de pregunta</option>
                                        <option value='1'>Pregunta abierta</option>
                                        <option value='2'>Pregunta cerrada</option>
                                        <option value='3'>Pregunta con opciones multiples</option>
                                    </select>
                                </td>
                            </tr>




                        </tbody>


                    </table>
                    <div class="container">
                        <div class="row" id="PanelPreguntaAbierta" style="display:none;">


                        </div>
                        <div class="row" id="edPanelPreguntaCerrada" style="display:none;">
                            <button style="margin-left:30px;" id="edAgregarRespuestasC" class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar respuesta</button>
                            <table class="table" id="edTablaRespuestasC" style="width:50%; margin-left:30px;">
                                <thead>
                                    <tr><td></td><td>Descripción</td><td>Opciones</td></tr>
                                </thead>
                                <tbody id="edPanelPreguntaCerrada-tbody"></tbody>

                            </table>


                        </div>
                        <div class="row" id="edPanelPreguntaOptMultiple" style="display:none;">

                            <button style="margin-left:30px;" id="edAgregarRespuestasOM" class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar opción</button>
                            <table class="table" id="edTablaRespuestasOM" style="width:50%; margin-left:30px;">
                                <thead>
                                    <tr><td></td><td>Descripción</td><td>Opciones</td></tr>
                                </thead>
                                <tbody id="edPanelPreguntaOptMultiple-tbody"></tbody>

                            </table>
                        </div>


                    </div>
                    <input type="hidden" id="idParaEditar" />
                    <input type="hidden" id="idParaEditar2" />
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-success" id="EditarPregunta" type="button">Editar pregunta</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalCatalogoPreguntas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Catálogo de preguntas </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" id="search">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-flat" type="button" id="buscar" onclick="Buscar();"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                            </span>
                        </div>


                    </div>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputEmail3"> Buscar preguntas:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="FiltraTipoPregunta">
                                    <option disabled>selecciona </option>
                                    <option value="1">Abierta</option>
                                    <option value="2">Cerrada</option>
                                    <option value="3">Opcion Multiple</option>
                                </select>
                            </div>
                        </div>








                    </div>
                </div>




                <table id="TablaCatalogoPreguntas" class="table table-bordered table-hover dataTable no-footer" style="width:100%">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Tipo pregunta</td>
                            <td>Opciones</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>

                        <tr>
                            <td>Nombre</td>
                            <td>Tipo pregunta</td>
                            <td>Opciones</td>
                        </tr>

                    </tfoot>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-right" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>




















<script src="~/dist/js/pages/Encuesta/Lista.js"></script>
<script src="~/dist/js/pages/Encuesta/Utilerias.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalAgregarPregunta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalEditarPregunta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalDetallePregunta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalEliminaPregunta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalAgregarEncuesta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalDetalleEncuesta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalEditarEncuesta.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalCatalogoPreguntas.js"></script>
<script src="~/dist/js/pages/Encuesta/ModalEliminarEncuesta.js"></script>
<script>
     var frame = document.getElementById('cubrir-frame');
        frame.oncontextmenu = function () {
        return false;
        }
</script>
