@{

    List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
    var a = Permiso.Where(p => p.IdModule == 14).FirstOrDefault();
    <script>
        var permiso_editar = "@a.OptUpdate";
    </script>


}




<section class="content-header">
    <h1>
        Encuestas
        <small>Lista de Llamadas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Llamadas</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Llamadas</h3>
                <div class="row">
                    @if (a.OptAdd == true)
                    {
                        <div class="col-md-12" id="nueva_llamada_panel">
                            <a href="/Llamada/nueva" class="btn btn-success btn-sm disabled" id="nueva_llamada_link" style="float:right;"><i class="fa fa-phone" aria-hidden="true"></i> Nueva Llamada </a>
                        </div>
                    }
                   
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Selecciona la plaza</label>
                        <select class="form-control" id="plaza_llamadas"><option selected disabled>---------</option></select>
                    </div>
                    <div class="col-md-3">
                        <label>Selecciona el tipo de llamada</label>
                        <select class="form-control" id="tipo_llamada" disabled>
                            <option value="0" selected disabled>---------</option>
                            <option value="1">Cliente</option>
                            <option value="2">No Cliente</option>
                            <option value="3">Todos</option>
                        </select>
                    </div>
                </div><br />
                <div class="row" id="panel_busqueda" style="display:none;">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" id="busqueda_collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#4b646f;">
                                            Busqueda
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#llamada" aria-controls="llamada" role="tab" data-toggle="tab">ID Llamada</a></li>
                                            <li role="presentation"><a href="#contrato" aria-controls="contrato" role="tab" data-toggle="tab">Contrato</a></li>
                                            <li role="presentation"><a href="#nombre" aria-controls="nombre" role="tab" data-toggle="tab">Nombre</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="llamada">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p style="color:#4b646f;">Ingrese el ID de la llamada</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="input_llamada" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" onclick="buscar_por_id()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="contrato">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p style="color:#4b646f;">Ingrese el número de contrato</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="input_contrato" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <span class="help-block">El número de contrato está formado por 2 grupos de números con un guión intermedio p.e. (1234-1)</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" onclick="buscar_por_contrato()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="nombre">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p style="color:#4b646f;">Nombre completo</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="nombre_individual" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" onclick="buscar_por_nombre()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- panel body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body" id="panel_tabla">

                <table id="TablaLlamadas" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>Id Llamada</b></td>
                            <td><b>Id Usuario</b></td>
                            <td><b>Tipo Llamada</b></td>
                            <td><b>Contrato</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Fecha</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@*MODAL AGREGAR LLAMADA*@
<div class="modal fade bs-example-modal-lg" id="ModalAgregarLlamada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Llamada</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1a" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                    </ul>
                    <div class="tab-content" style="margin:200px, 20px, 20px, 20px">
                        <div class="tab-pane active" id="tab_1a">
                            <div class="row">
                                <div class=col-md-4>
                                    <div class="form-group">
                                        <select id="tipo_llamada" class="form-control">
                                            <option value="0" selected disabled>¿Quíen llama?</option>
                                            <option value="1">Cliente</option>
                                            <option value="2">No Cliente</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-7" id="nombre_llamada" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" placeholder="Nombre completo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7" id="no_contrato" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="No. Contrato" />
                                        </div>
                                        <div class="col-md-6">
                                            <select id="plaza" class="form-control">
                                                <option value="0" selected disabled>Seleccione la Plaza</option>
                                                <option value="1">Aguascalientes</option>
                                                <option value="2">Plaza 2</option>
                                                <option value="3">Plaza 3 multiples</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><br/><!-- row 1 -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="motivo_llamada" class="form-control">
                                            <option value="0" selected disabled>Motivo de la llamada</option>  
                                            <option value="1">Información</option>
                                            <option value="2">Queja</option>
                                            <option value="3">Asesoría Técnica</option>
                                        </select>
                                    </div>
                                </div>
                            </div><br/><!-- row 2 -->
                            <div class="row" id="panel_queja" style="display:none;">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <textarea placeholder="Redactar la queja" class="form-control"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="accion_queja" class="form-control">
                                            <option value="0" selected disabled>Acción a realizar</option>
                                            <option value="1">Solucionado</option>
                                            <option value="2">Realizar Reporte</option>
                                        </select>
                                    </div>
                                </div>
                            </div><br /><!-- row 3 -->
                            <div class="row" id="panel_reporte" style="display:none;">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <select id="reporte_turno" class="form-control">
                                            <option value="0" selected disabled>¿Turno en el que esta disponible?</option>
                                            <option value="1">Mañana</option>
                                            <option value="2">Tarde</option>
                                        </select>
                                    </div>
                                </div>
                            </div><br /><!-- row 3 -->
                       </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="button">Guardar Llamada</button>
            </div>
        </div>
    </div>
</div>


@*MODAL Editar Llamada*@
<div class="modal fade bs-example-modal-lg" id="ModalEditarLlamada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar Llamada</h4>
            </div>
            <div class="modal-body">
                <div class="overlay" id="cargando">
                    <h1 class="text-center" style="font-size:65px;"><i class="fa fa-refresh fa-spin"></i></h1>
                </div>
                <div class="nav-tabs-custom" style="display:none;" id="panel_tabs_llamadas">
                    <div class="tab-content">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información Llamada</a></li>
                                <li class="" style="display:none;" id="tab_queja"><a href="#tab_2" id="tab-preguntas" data-toggle="tab" aria-expanded="false">Queja</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <input type="hidden" id="id_llamada" />
                                    <input type="hidden" id="contrato_oculto" />
                                    <input type="hidden" id="queja_oculto" />
                                    <div class="row" style="display:none;" id="contrato_panel_editar">
                                        <div class="col-xs-2">
                                            <label>Contrato</label>
                                            <input type="text" class="form-control" id="contrato_editar" disabled>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="nombre_panel_editar">
                                        <div class="col-xs-6">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" id="nombre_editar">
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="domicilio_panel_editar">
                                        <div class="col-xs-6">
                                            <label>Domicilio</label>
                                            <textarea class="form-control" id="domicilio_editar"> </textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="celular_panel_editar">
                                        <div class="col-xs-4">
                                            <label>Telefono</label>
                                            <input type="text" class="form-control" id="telefono_editar">
                                        </div>
                                        <div class="col-xs-4">
                                            <label>Celular</label>
                                            <input type="text" class="form-control" id="celular_editar">
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="email_panel_editar">
                                        <div class="col-xs-4">
                                            <label>Email</label>
                                            <input type="text" class="form-control" id="email_editar">
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="panel_tipo_informacion">
                                        <div class="col-md-6">
                                            <label>Selecciona el tipo de información</label>
                                            <select class="form-control" id="tipo_informacion_editar"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>Detalle</label>
                                            <textarea class="form-control" id="detalle_editar"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="clasificacion_editar">
                                        <div class="col-xs-6">
                                            <label>Clasificación del problema</label>
                                            <select class="form-control" id="select_problemas"></select>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="panel_solucion">
                                        <div class="col-xs-6">
                                            <label>Solución</label>
                                            <textarea class="form-control" id="solucion_editar"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;" id="clasificacion_solucion_editar">
                                        <div class="col-xs-6">
                                            <label>Clasificación de la solución</label>
                                            <select class="form-control" id="select_solucion"></select>
                                        </div>
                                    </div>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>ID Queja</label>
                                            <input type="text" class="form-control" id="id_queja" disabled />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Prioridad</label>
                                            <select class="form-control" id="prioridad_editar"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Turno</label>
                                            <select class="form-control" id="turno_editar"></select>
                                        </div>
                                    </div>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">

                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </div>
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="guardar_llamada" type="button" onclick="guardarLlamada(this)">Guardar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@*MODAL Detalle Llamada*@
<div class="modal fade bs-example-modal-lg" id="ModalDetalleLlamada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">
                    Detalle Llamada
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="row">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua" style="height:130px; width:100px; padding-top:30px;"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <div class="info-box-content" style="padding-left:20px;">
                                <span class="info-box-text"><label>ID: </label>  <small id="id_llamda"></small></span>
                                <span class="info-box-text"><label>Fecha: </label>  <small id="fecha"></small></span>
                                <span class="info-box-text"><label>Hora inicio: </label>  <small id="hora_inicio"></small></span>
                                <span class="info-box-text"><label>Hora fin: </label>  <small id="hora_fin"></small></span>

                            </div><!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua" style="height:150px; width:100px; padding-top:30px;"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="info-box-content" style="padding-left:20px;">
                                <span class="info-box-text" style="display:none;" id="pan_contrato"><label>Contrato: </label>  <small id="contrato_detalle"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_nombre"><label>Nombre: </label>  <small id="nombre_completo"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_domicilio"><label>Domicilio: </label>  <small id="domicilio"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_telefono"><label>Telefono: </label>  <small id="telefono"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_celualr"><label>celular: </label>  <small id="celular"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_email"><label>email: </label>  <small id="email"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_detalle"><label>Detalle: </label>  <small id="detalle"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_solucion"><label>Solución: </label>  <small id="solucion"></small></span>
                                <span class="info-box-text" style="display:none;" id="pan_queja"><label>queja: </label>  <small id="queja"></small></span>
                            </div><!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@*MODAL AGREGAR QUEJA*@
<div class="modal fade bs-example-modal-lg" id="ModalAgregarQueja" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Generar Queja</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabla_2q" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabla_2q">
                            <div class="row form-group ">
                                @*ROW 1*@
                                @*<div class="col-lg-2">
                                        <label>Clv_Queja</label>
                                        <input type="text" class="form-control" placeholder="Clv_Queja" readonly>
                                    </div>*@
                                <div class="col-lg-2 col-lg-offset-0    col-md-2 col-md-offset-0    col-sm-3 col-sm-offset-1    col-xs-6">
                                    <label>Contrato</label>@*Contrato*@
                                    <input type="text" class="form-control" placeholder="Contrato">
                                </div>
                                <div class="col-lg-4    col-md-4 col-md-offset-0    col-sm-7    col-xs-12 ">
                                    <label>Concepto de Tipo de Servicio</label>@*Clv_TipSer*@
                                    <input type="text" class="form-control" placeholder="Concepto Tipo de Servicio">
                                </div>
                                <div class="col-lg-3 col-lg-offset-0    col-md-3 col-md-offset-0    col-sm-4 col-sm-offset-2    col-xs-7">
                                    <label>Fecha de Solicitud</label>@*Fecha_Solicitud*@
                                    <input type="text" class="form-control" placeholder="Fecha de Solicitud">
                                </div>
                                <div class="col-lg-3    col-md-3    col-sm-4    col-xs-7">
                                    <label>Fecha de Captura</label>@*Fecha_Captura*@
                                    <input type="text" class="form-control" placeholder="Fecha de Captura">
                                </div>
                            </div>
                            <div class="row form-group ">
                                @*ROW 5*@
                                <div class="col-lg-2    col-md-2    col-sm-3    col-xs-12">
                                    <label>Status</label>@*Status*@
                                    <input type="text" class="form-control" placeholder="Status">
                                </div>
                                <div class="col-lg-5    col-md-5    col-sm-9    col-xs-12">
                                    <label>Trabajo</label>@*Clv_Trabajo*@
                                    <textarea class="form-control" placeholder="Trabajo"></textarea>
                                </div>
                                <div class="col-lg-2 col-lg-offset-0    col-md-2 col-md-offset-0    col-sm-4 col-sm-offset-2    col-xs-7">
                                    <label>Hora de Ejecución</label>@*Hora_Ejecucion*@
                                    <input type="text" class="form-control" placeholder="Hora de Ejecución">
                                </div>
                                <div class="col-lg-3    col-md-3    col-sm-4    col-xs-8">
                                    <label>Fecha de Ejecución</label>@*Fecha_Ejecución*@
                                    <input type="text" class="form-control" placeholder="Fecha de Ejecución">
                                </div>
                            </div>
                            <div class="row form-group ">
                                @*ROW 2*@
                                <div class="col-lg-2    col-md-2    col-sm-3    col-xs-6">
                                    <label>Clave Técnico</label>@*Clave_Tecnico*@
                                    <input type="text" class="form-control" placeholder="Clave Técnico">
                                </div>

                                <div class="col-lg-3    col-md-3    col-sm-5    col-xs-12">
                                    <label>Tipo de Queja</label>@*Clv_TipoQueja*@
                                    <input type="text" class="form-control" placeholder="Tipo de Queja">
                                </div>
                                <div class="col-lg-2    col-md-2    col-sm-4    col-xs-8">
                                    <label>Prioridad de Queja</label>@*clvPrioridadQueja    Descripcion de tabla tblPrioridadQueja*@
                                    <input type="text" class="form-control" placeholder="Prioridad de Queja">
                                </div>
                                <div class="col-lg-2 col-lg-offset-0    col-md-2 col-md-offset-0    col-sm-4 col-sm-offset-2    col-xs-6">
                                    <label>Clasificación</label>@*Clasificación*@
                                    <input type="text" class="form-control" placeholder="Clasificación">
                                </div>
                                <div class="col-lg-3    col-md-2    col-sm-4 col-xs-6">
                                    <label>Impresa</label>@*Impresa*@
                                    <input type="text" class="form-control" placeholder="Impresa">
                                </div>
                            </div>
                            <div class="row form-group ">
                                @*ROW 3*@
                                <div class="col-lg-4    col-md-4    col-sm-6    col-xs-12">
                                    <label>Problema</label>@*Problema*@
                                    <textarea class="form-control" placeholder="Problema"></textarea>
                                </div>
                                <div class="col-lg-4    col-md-4    col-sm-6    col-xs-12">
                                    <label>Solución</label>@*Solucion*@
                                    <textarea class="form-control" placeholder="Solución"></textarea>
                                </div>
                                <div class="col-lg-4    col-md-4    col-sm-6    col-xs-12">
                                    <label>Observaciones</label>@*Observaciones*@
                                    <textarea class="form-control" placeholder="Observaciones"></textarea>
                                </div>
                            </div>
                            <div class="row form-group ">
                                @*ROW 4*@
                                <div class="col-lg-2    col-md-2    col-sm-4    col-xs-7">
                                    <label>Visita 1</label>@*Visita1*@
                                    <input type="text" class="form-control" placeholder="Visita 1">
                                </div>
                                <div class="col-lg-2    col-md-2    col-sm-4    col-xs-7">
                                    <label>Visita 2</label>@*Visita2*@
                                    <input type="text" class="form-control" placeholder="Visita 2">
                                </div>
                                <div class="col-lg-2    col-md-2    col-sm-4    col-xs-7">
                                    <label>Visita 3</label>@*Visita3*@
                                    <input type="text" class="form-control" placeholder="Visita 3">
                                </div>
                                <div class="col-lg-3 col-lg-offset-0    col-md-3 col-md-offset-0    col-sm-4 col-sm-offset-2    col-xs-7">
                                    <label>Fecha de Actualización</label>@*Fecha_Actualización*@
                                    <input type="text" class="form-control" placeholder="Fecha de Actualización">
                                </div>
                                <div class="col-lg-3    col-md-3    col-sm-4    col-xs-5">
                                    <label>Imp</label>@*Imp*@
                                    <input type="text" class="form-control" placeholder="Imp">
                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="button">Guardar Queja</button>
            </div>
        </div>
    </div>
</div>


<script src="~/plugins/input-mask/jquery.inputmask.js"></script>

<script src="~/dist/js/pages/Llamada/Lista.js"></script>
<script src="~/dist/js/pages/Llamada/agregar_llamada.js"></script>
<link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.1').addClass('active');
        $('.14').addClass('active');
    });
</script>

