@{

    List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
    var a = Permiso.Where(p => p.IdModule == 14).FirstOrDefault();
    <script>
        var permiso_editar = "@a.OptUpdate";
    </script>


}


<style>
    hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
    }
    hr.style17:after {
	    content: '§';
	    display: inline-block;
	    position: relative;
	    top: -14px;
	    padding: 0 10px;
	    background: #f0f0f0;
	    color: #8c8b8b;
	    font-size: 18px;
	    -webkit-transform: rotate(60deg);
	    -moz-transform: rotate(60deg);
	    transform: rotate(60deg);
    }
    hr.style18 { 
      height: 30px; 
      border-style: solid; 
      border-color: #8c8b8b; 
      border-width: 1px 0 0 0; 
      border-radius: 20px; 
    } 
    hr.style18:before { 
      display: block; 
      content: ""; 
      height: 30px; 
      margin-top: -31px; 
      border-style: solid; 
      border-color: #8c8b8b; 
      border-width: 0 0 1px 0; 
      border-radius: 20px; 
    }
</style>

<section class="content-header">
    <h1>
       Nueva Llamada <small id="titulo_llamada" style="font-size:16px;"></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Atencíon de Llamadas</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" id="Mygrafica">
                <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="grafica">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#Mygrafica" href="#datosGrafica" aria-expanded="true" aria-controls="datosGrafica">Generar Llamada</a>
                            </h3>
                        </div>
                        <div id="datosGrafica" class="panel-collapse collapse" role="tabpanel" aria-labelledby="datosGrafica">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Selecciona la plaza</label>
                                        <select class="form-control" id="plaza_llamadas"><option selected disabled>---------</option></select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Selecciona el tipo de llamada</label>
                                        <select class="form-control" id="tipo_llamada" disabled>
                                            <option value="0" selected disabled>---------</option>
                                            <option value="1">Información</option>
                                            <option value="2">Atención Telefónica</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="padding-right:20px;">
                                    <p class="text-right">
                                        <a class="btn btn-success disabled" id="nueva_llamada_link" onclick="nueva_llamada()"><i class="fa fa-phone" aria-hidden="true"></i> Nueva Llamada </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 style="display:none; padding-left:10px;" id="regresar"><a href="#" style="color:#5bc0de;" onclick="regresar()"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</a></h4>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" id="nombre_plaza" style="color:#4b646f;"></h3>
                    <h5 class="text-center" id="sub_titulo" style="color:#4b646f;"></h5>
                </div>
            </div>
             <form id="llamadaForm">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="row" style="padding-left:10px; display:none;" id="tipo_llamante">
                            <div class="col-md-3">
                                <label style="color:#4b646f;">¿Es cliente?</label>
                                <select class="form-control" id="tipo_cliente">
                                    <option value="0" selected disabled>---------</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none; padding-left:10px;" id="motivo_llamada_panel">
                    <div class="col-md-3" style="padding-top:10px;">
                        <label style="color:#4b646f; font-size:12px;">Seleccione el Servicio</label>
                        <select class="form-control" id="tipo_servicio">
                            <option value="0" selected disabled>----------------</option>
                        </select>
                    </div>
                </div><br />
                <div class="row" id="panel_llamante" style="display:none;">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" id="busqueda_collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#4b646f;">
                                            Buscar Cliente
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#contrato" aria-controls="contrato" role="tab" data-toggle="tab">Contrato</a></li>
                                            <li role="presentation"><a href="#nombre" aria-controls="nombre" role="tab" data-toggle="tab">Nombre</a></li>
                                            <li role="presentation"><a href="#direccion" aria-controls="direccion" role="tab" data-toggle="tab">Dirección</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="contrato">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p style="color:#4b646f;">Ingrese el número de contrato</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="number" class="form-control" id="input_contrato" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" id="buscar_por_contrato"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="direccion">
                                                <br />
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p style="color:#4b646f;">Ciudad</p>
                                                            <select id="ciudad_select" class="form-control">
                                                                <option value="0" disabled selected>---------</option>
                                                            </select>
                                                            @*<input type="text" class="form-control" id="ciudad_busqueda" placeholder="Ciudad" />*@
                                                        </div>
                                                    </div><br />
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p style="color:#4b646f;">Colonia</p>
                                                            <select id="colonia_select" class="form-control">
                                                                <option value="value" disabled selected>---------</option>
                                                            </select>
                                                            @*<input type="text" class="form-control" id="colonia_domicilio" placeholder="Colonia" />*@
                                                        </div>
                                                    </div><br />
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p style="color:#4b646f;">Calle</p>
                                                            <select id="calle_editar" class="form-control">
                                                                <option value="value" disabled selected>---------</option>
                                                            </select>
                                                            @* <input type="text" class="form-control" id="calle_busqueda" placeholder="Calle" />*@
                                                        </div>
                                                    </div><br />
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p style="color:#4b646f;">Número</p>
                                                            <input type="text" class="form-control" id="numero_domicilio" />
                                                        </div>
                                                    </div>
                                                </div><br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" id="buscar_por_direccion"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="nombre">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p style="color:#4b646f;">Nombre completo</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="nombre_individual" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-right">
                                                            <a class="btn btn-primary" id="buscar_por_nombre"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- panel body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;" id="panel_tabla_clientes">
                    <div class="col-md-12 container">
                        <table id="Tabla_Clientes" class="table table-bordered table-hover dataTable">
                            <thead style="font-size:12px;">
                                <tr>
                                    <td><b>Contrato</b></td>
                                    <td><b>Nombre</b> </td>
                                    <td><b>Ciudad</b></td>
                                    <td><b>Colonia</b></td>
                                    <td><b>Calle</b></td>
                                    <td><b>Número</b></td>
                                    <td><b>Opciones</b></td>
                                </tr>
                            </thead>
                            <tbody style="font-size:12px;"></tbody>
                        </table>
                    </div>
                </div>
                <div class="row" id="invalido" style="display:none;">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible fade in" role="alert"><strong>Opsss!</strong> No se encontraron coincidencias. </div>
                    </div>
                </div>
                 <div class="row">
                     <div class="col-md-9">
                         <div class="row" style="display:none; padding-left:10px;" id="panel_datos_cliente">
                             <div class="col-md-6">
                                 <h5 style="color:#4b646f;"><strong>Datos del cliente</strong> </h5>
                                 <h5 id="texto_contrato" style="color:#4b646f;"></h5>
                                 <input type="hidden" id="contrato_oculto" />
                                 <h5 id="texto_nombre" style="color:#4b646f;"></h5>
                                 <h5 id="texto_colonia" style="color:#4b646f;"></h5>
                                 <h5 id="texto_calle" style="color:#4b646f;"></h5>
                                 <h5 id="texto_numero" style="color:#4b646f;"></h5>
                             </div>
                             <div class="col-md-5 col-md-offset-1">
                                 <h5 style="color:#4b646f;"><strong>Servicios contratados</strong> </h5>
                                 <div id="servicios_contratados">

                                 </div>
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="panel_hora_fecha">
                             <div class="col-md-2">
                                 <p style="color:#4b646f;">Hora Inicial</p>
                                 <input type="text" class="form-control" disabled id="hora" />
                             </div>
                             <div class="col-md-2">
                                 <p style="color:#4b646f;">Fecha</p>
                                 <input type="text" class="form-control" id="fecha" disabled />
                             </div>
                         </div>
                         <div class="row" style="padding-left: 10px; display: none;" id="panel_reporte_cliente">
                             <div class="col-md-6">
                                 <label style="color:#4b646f; font-size:12px;">Reporte del cliente</label>
                                 <textarea class="form-control" id="reporte_cliente"></textarea>
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="panel_clasificacion">
                             <div class="col-md-4">
                                 <label style="color:#4b646f; font-size:12px;">Clasificación del problema</label>
                                 <select class="form-control" id="select_problemas">
                                     <option value="0" selected disabled>Clasificación del problema</option>
                                 </select>
                             </div>
                         </div>
                         <div class="row" style="padding-left: 10px; display: none;" id="panel_problema_real">
                             <div class="col-md-6">
                                 <label style="color:#4b646f; font-size:12px;">Problema Real</label>
                                 <textarea class="form-control" id="problema_real"></textarea>
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="panel_solucion">
                             <div class="col-md-4">
                                 <label style="color:#4b646f; font-size:12px;">Clasificación de la solución</label>
                                 <select class="form-control" id="select_soluciones">
                                     <option value="0" selected disabled>Clasificación de la solución</option>
                                 </select>
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="panel_tiene_queja">
                             <div class="col-md-8">
                                 <p style="font-size:18px; color:red;" id="tiene_queja"></p>
                             </div>
                         </div>
                         <div class="row" id="panel_no_cliente" style="padding-left:10px; display:none;">
                             <div class="col-md-5">
                                 <label style="color:#4b646f; font-size:12px;">Nombre</label>
                                 <input type="text" class="form-control" id="nombre_no_cliente" placeholder="Nombre de la persona que esta llamando" />
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="telefono_no_cliente">
                             <div class="col-md-3">
                                 <label style="color:#4b646f; font-size:12px;">Teléfono</label>
                                 <input type="text" id="telefono" class="form-control">
                             </div>
                             <div class="col-md-3">
                                 <label style="color:#4b646f; font-size:12px;">Celular</label>
                                 <input type="text" id="celular" class="form-control">
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="email_no_cliente">
                             <div class="col-md-4">
                                 <label style="color:#4b646f; font-size:12px;">Email</label>
                                 <input type="email" id="email" class="form-control" required>
                             </div>
                         </div>
                         <div class="row" style="display:none; padding-left:10px;" id="domicilio_no_cliente">
                             <div class="col-md-6">
                                 <label style="color:#4b646f; font-size:12px;">Domicilio</label>
                                 <textarea type="text" id="domicilio" class="form-control"></textarea>
                             </div>
                         </div>
                         <div class="row" style="padding-left: 10px; display: none;" id="panel_tipo_informacion">
                             <div class="col-md-5">
                                 <label style="color:#4b646f; font-size:12px;">Selecciona el tipo de información</label>
                                 <select class="form-control" id="tipo_informacion">
                                     <option value="0" selected disabled>----------</option>
                                 </select>
                             </div>
                         </div>
                         <div class="row" style="padding-left: 10px; display: none;" id="panel_detalle_informacion">
                             <div class="col-md-6">
                                 <label style="color:#4b646f; font-size:12px;">Detalle de la llamada</label>
                                 <textarea class="form-control" id="detalle_llamada_informacion"></textarea>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-3" style="display: none;" id="panel_botones">
                         <div class="row">
                             <div class="col-md-3">
                                 <div class="row">
                                     <a class="btn btn-warning disabled" id="btn_queja" onclick="abrir_modal()" style="width:150px;">Generar Queja</a>
                                 </div><br />
                                 <div class="row">
                                     <a class="btn btn-primary" onclick="ModalHistorialPagos()" style="width:150px;">Historial de Pagos</a><br />
                                 </div><br />
                                 <div class="row">
                                     <a class="btn btn-primary" onclick="ModalHistorialLlamadas()" style="width:150px;">Historial de Llamadas</a><br />
                                 </div><br />
                                 <div class="row">
                                     <a class="btn btn-primary" onclick=" ModalHistorialQuejas()" style="width:150px;">Historial de Quejas</a><br />
                                 </div><br />
                                 <div class="row">
                                     <a class="btn btn-primary" onclick=" ModalConsultarPagos()" style="width:150px;">Consultar Pagos</a><br />
                                 </div><br />
                             </div>
                         </div>
                     </div>
                 </div>
                
                <div class="row" style="padding-right:40px; display:none;" id="btn_enviar">
                    <div class="col-md-12">
                        <p class="text-right">
                            <a class="btn btn-success" onclick="guardarLlamada()" id="guardar_llamada"> Guaradar Llamada</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="queja_modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">GENERAR QUEJA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label style="color:#4b646f; font-size:12px;">Turno</label>
                        <select class="form-control" id="turno">
                            <option value="0" selected disabled>Turno</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label style="color:#4b646f; font-size:12px;">Comentarios</label>
                        <textarea class="form-control" id="comentario"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="GuardarQueja()">Generar</button>
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exito" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">LLAMADA GUARDADA EXITOSAMENTE</h4>
            </div>
            <div class="modal-body">
                <p>El número de reporte es: <strong id="no_reporte"></strong> y el número de queja es: <strong id="no_queja"></strong></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="regresar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sinQueja" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">LLAMADA GUARDADA EXITOSAMENTE</h4>
            </div>
            <div class="modal-body">
                <p>El número de reporte es: <strong id="no_reporte_sin"></strong></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="regresar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HistorialPagos" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Historial de Pagos</h4>
            </div>
            <div class="modal-body">
                <table id="tableHistorialPago" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td id="Serie"><b>Serie</b></td>
                            <td id="Folio"><b>Folio</b></td>
                            <td id="Fecha"><b>Fecha</b></td>
                            <td id="Importe"><b>Importe</b></td>
                            <td id="Status"><b>Status</b></td>
                            <td id="Status"><b>Consultar</b></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="HistorialPagos" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Historial de Pagos</h4>
            </div>
            <div class="modal-body">
                <table id="tableHistorialPago" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td id="Serie"><b>Serie</b></td>
                            <td id="Folio"><b>Folio</b></td>
                            <td id="Fecha"><b>Fecha</b></td>
                            <td id="Importe"><b>Importe</b></td>
                            <td id="Status"><b>Status</b></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="HistorialQuejas" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Historial de Quejas</h4>
            </div>
            <div class="modal-body">
                <label style="color:#4b646f; font-size:12px;">Tipo de Queja</label><br />
                <select id="tipo_queja">
                    <option value="0" selected disabled>------------</option>
                    <option value="1">Pendientes</option>
                    <option value="2">Ejecutadas</option>
                    <option value="3">Visita</option>
                    <option value="4">Todas</option>
                </select>
                <table id="tableHistorialQuejas" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td id="Queja"><b>Queja</b></td>
                            <td id="Status"><b>Status</b></td>
                            <td id="Contrato"><b>Contrato</b></td>
                            <td id="Nombre"><b>Nombre</b></td>
                            <td id="Calle"><b>Calle</b></td>
                            <td id="Numero"><b>Numero</b></td>
                            <td id="TipSer"><b>Tipo Servicio</b></td>
                            <td id="options"><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="HistorialLlamadas" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Historial de Llamadas</h4>
            </div>
            <div class="modal-body">
                <table id="tableHistorialLlamadas" class="table table-bordered table-hover dataTable" align="center">
                    <thead>
                        <tr>
                            <td id="Fecha"><b>Fecha</b></td>
                            <td id="HoraInicial"><b>Hora Inicial</b></td>
                            <td id="HoraFinal"><b>Hora Final</b></td>
                            <td id="Motivo"><b>Motivo</b></td>
                            <td id="Solucion"><b>Solución</b></td>
                            <td id="Usuario"><b>Atendido por</b></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ConsultaPago" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Consultar Pago</h4>
            </div>
            <div class="modal-body">
                <div class="overlay" id="cargando">
                    <h1 class="text-center" style="font-size:65px;"><i class="fa fa-refresh fa-spin"></i></h1>
                </div>
                <div class="row" id="contenido_editar" style="display:none;">
                    <table id="tableConsultaPago1" class="table table-bordered table-hover dataTable" align="center">
                        <thead>
                            <tr>
                                <td id="Aparato"><b>Aparato</b></td>
                                <td id="Concepto"><b>Concepto</b></td>
                                <td id="PagoAde"><b>PagosAdelantados</b></td>
                                <td id="TVExt"><b>Tv's Extra</b></td>
                                <td id="MesesCor"><b>Meses Cortesía</b></td>
                                <td id="Importe"><b>Meses a Pagar</b></td>
                                <td id="Importe"><b>Importe</b></td>
                                <td id="PeriodoPI"><b>Periodo Pagado Inicial</b></td>
                                <td id="PeriodoPF"><b>Periodo Pagado Final</b></td>
                                <td id="PuntosAPO"><b>Puntos Aplicados por Pago Oportuno</b></td>
                                <td id="PuntosAPA"><b>Puntos Aplicados por Antigüedad</b></td>
                                <td id="PuntosAPAde"><b>Puntos Aplicados por Adelantado</b></td>
                                <td id="PuntosCombo"><b>Puntos Combo</b></td>
                                <td id="PuntosPPE"><b>Puntos PPE</b></td>
                                <td id="ImporteBoni"><b>Importe a Bonificar</b></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="row" id="contenido_editar2" style="display:none;">
                    <table id="tableConsultaPago2" class="table table-bordered table-hover dataTable" style="width:200px;" align="center">
                        <thead>
                            <tr>
                                <td id="Descripcion"><b>Descripción</b></td>
                                <td id="Total"><b>Total</b></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="Espere" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row form-group" align="right">

                    <div class="col-md-12">
                        <p class="text-center">Consultando información por favor espere un momento</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="modal_ticket" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Ticket</h4>
            </div>
            <div class="modal-body" style="height:500px;">
                <div class="row form-group" align="right">
                    <div class="col-md-12">
                        <center>
                            <h4 id="nombre_empresa"></h4>
                            <p id="calle_empresa"></p>
                            <p id="colonia_empresa"></p>
                            <p id="ciudad_empresa"></p>
                            <p id="rfc_empresa"></p>
                            <hr class="style17" />
                            <p><strong>Sucursal:</strong> <small id="nombre_sucursal"></small></p>
                            <p>Calle: <small id="calle_sucursal"></small> <small id="numero_sucursal"></small></p>
                            <p id="colonia_sucursal"></p>
                            <p id="cp_sucursal"></p>
                            <p id="ciudad_sucursal"></p>
                            <p id="telefono_sucursal"></p>
                            <p><strong id="recibo"></strong></p>
                            <p><strong id="contrato_ticket"></strong></p>
                            <p id="nombre_cliente"></p>
                            <p> <span id="nombre_calle"></span> <span id="nombre_numero"></span> <span id="cp_cliente"></span></p>
                            <p id="colonia_cliente"></p>
                            <p id="ciudad_cliente"></p>
                            <p><strong>Cajera(o): </strong> <label id="cajero"></label></p>
                            <hr class="style17" />
                            <p><label id="descripcion_servicio"></label> <label id="monto_servicio"></label></p>
                            <p id="mes" style="color:red;"></p>
                            <p><strong id="puntos"></strong></p>
                            <hr class="style17" />
                            <p> Cantidad con letra:</p>
                            <p><strong id="cantidad_letra"></strong></p>
                            <p><strong id="total"></strong></p>
                            <p><strong id="cambio"></strong></p>
                            <p><strong id="efectivo"></strong></p>
                            <p><strong id="sucursal"></strong></p>
                            <p><strong id="proximo_pago"></strong></p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detalle_queja" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalle Queja</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center alert-error" style="display:none;" id="queja_error">Ocurrió un error al consultar la información</h4>
                <div class="row" id="panel_detalle_queja" style="display:none;">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong>Tipo de Servicio</strong></p>
                                <select class="form-control" id="queja_servicio" disabled></select>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Clave: </strong><span id="queja_id"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Contrato: </strong><span id="queja_contrato"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Nombre: </strong><span id="queja_nombre_cliente"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Colonia: </strong><span id="queja_colonia"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Calle: </strong><span id="queja_calle"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5><strong>Número: </strong><span id="queja_numero"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Reporte del Cliente</strong></p>
                                <textarea class="form-control" id="queja_reporte" disabled></textarea>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Clasificación del Problema</strong></p>
                                <select class="form-control" id="queja_problema" disabled></select>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Observaciones</strong></p>
                                <textarea class="form-control" id="queja_observaciones" disabled></textarea>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Clasificación de la solución</strong></p>
                                <select class="form-control" id="queja_clas_solucion" disabled></select>
                            </div>
                            <div class="col-md-12">
                                <p><strong>Solución</strong></p>
                                <textarea class="form-control" id="queja_solucion" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-center"><strong>Status: </strong><span id="queja_status"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center"><strong>Generó: </strong><span id="queja_usuario"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center"><strong>Ejecutó: </strong><span id="queja_ejecuto"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center"><strong>Solicitud: </strong><span id="queja_solicitud"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <h5 class="text-center"><strong>Ejecución: </strong><span id="queja_fecha_ejecuto"></span></h5>
                            </div>
                            <div class="col-md-12">
                                <p>Vista 1:</p>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_fecha_v1" disabled/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_hora_v1" disabled />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>Vista 2:</p>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_fecha_v2" disabled />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_hora_v2" disabled />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>Vista 3:</p>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_fecha_v3" disabled />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="queja_hora_v3" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var usuario = @Session["idusuario"];
</script>
<script src="~/plugins/slimScroll/jquery.slimscroll.js"></script>
<script src="~/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/dist/js/pages/Llamada/agregar_llamada.js"></script>
<link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.1').addClass('active');
        $('.14').addClass('active');
    });
    $(function () {
        $('#servicios_contratados').slimScroll({
            height: '150px'
        });
    });
</script>

