@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>*@
@{
    try
    {
        List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
        var a = Permiso.Where(p => p.IdModule == 9).FirstOrDefault();

        <script>
            var permiso_editar = "@a.OptUpdate";
            var permiso_agregar = "@a.OptAdd";
            var permiso_eliminar = "@a.OptDelete";
        </script>

    }
    catch
    {
        <script>
            location.href = "/";
        </script>
    }

}


<section class="content-header">
    <h1>
        Preguntas
        <small>Lista de Preguntas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Preguntas</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Preguntas</h3>

            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaPreguntas" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>IdPregunta</b></td>
                            <td><b>Pregunta</b></td>
                            <td><b>Tipo Pregunta</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>
</div>


@*MODAL AGREGAR PREGUNTA*@
<div class="modal fade bs-example-modal-lg" id="ModalAgregarPregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table" id="tablaPreguntas">
                        <thead>
                            <tr>
                                <td>PREGUNTA</td>
                                <td>TIPO RESPUESTA</td>
                            </tr>
                        </thead>
                        <tbody id="TbodyPreguntas">
                            <tr>
                                <td><input type='text' id="NombrePregunta" class='form-control' placeholder='Escribe la pregunta'></td>
                                <td>
                                    <select id='TipoPregunta' class='form-control'>
                                        <option disabled value="0">Selecciona el tipo de pregunta</option>
                                        <option value='1'>Pregunta abierta</option>
                                        <option value='2'>Pregunta cerrada</option>
                                        <option value='3'>Pregunta con opciones multiples</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row" id="PanelPreguntaOptMultiple" style="display:none;  padding-left:30px;">
                            <button id="AgregarRespuestasOM" onclick="AgregarRespuesta()" class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar opción</button>
                            <table class="table" id="TablaRespuestasOM" style="width:50%;">
                                <thead>
                                    <tr><td></td><td>Descripción</td><td>Opciones</td></tr>
                                </thead>
                                <tbody id="PanelPreguntaOptMultiple-tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="GuardarPregunta" type="button">Agregar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL DETALLE Pregunta*@
<div class="modal fade bs-example-modal-lg" id="ModalDetallePregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalle de Preguntas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nombre_pregunta" disabled />
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" disabled>
                            <option value="0" id="tipo_pregunta" selected></option>
                        </select>
                    </div>
                </div><br />
                <div class="row" style="display:none;" id="multiple_panel">
                    <div class="col-xs-12">
                        <h5 class="text-muted">Posibles respuestas :</h5>
                        <select multiple="" class="form-control" id="add_panel" style="width:60%;"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL Editar Pregunta*@
<div class="modal fade bs-example-modal-lg" id="ModalEditarPregunta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="id_pregunta"/>
                    <table class="table" id="tablaPreguntas">
                        <thead>
                            <tr>
                                <td>PREGUNTA</td>
                                <td>TIPO RESPUESTA</td>
                            </tr>
                        </thead>
                        <tbody id="TbodyPreguntas">
                            <tr>
                                <td><input type='text' id="pregunta_nombre" class='form-control' placeholder='Modifica la pregunta'></td>
                                <td>
                                    <select id='id_tipo_pregunta' class='form-control' disabled>
                                        <option value=1>Pregunta abierta</option>
                                        <option value=2>Pregunta cerrada</option>
                                        <option value=3>Pregunta con opciones multiples</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="row" id="panel_opcion_multiple" style="display:none; padding-left:60px;">
                            <button id="AgregarRespuestasOM" onclick="AgregarRespuesta_editar()" class="btn btn-info btn-xs"><i class="fa fa-plus" aria-hidden="true"></i> Agregar opción</button>
                            <table class="table" id="tabla_respuestas" style="width:50%; margin-left:30px;">
                                <thead>
                                    <tr><td>Respuestas</td></tr>
                                </thead>
                                <tbody id="body_opcion_multiple"></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="guardar_pregunta()" type="button">Guardar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/dist/js/pages/Pregunta/Lista.js"></script>
<script src="~/dist/js/pages/Pregunta/editar_pregunta.js"></script>
<script>
    $(document).ready(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.2').addClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.9').addClass('active');
    });
</script>
