<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoftvMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SoftvMVC-20151027095644.mdf;Initial Catalog=aspnet-SoftvMVC-20151027095644;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsuario" />
        <binding name="BasicHttpBinding_IRole" />
        <binding name="BasicHttpBinding_IModule" />
        <binding name="BasicHttpBinding_IPermiso" />
        <binding name="BasicHttpBinding_ITrabajo" />
        <binding name="BasicHttpBinding_ITipServ" />
        <binding name="BasicHttpBinding_IEncuesta" />
        <binding name="BasicHttpBinding_IPregunta" />
        <binding name="BasicHttpBinding_ITipoPreguntas" />
        <binding name="BasicHttpBinding_IRelEncuestaClientes" />
        <binding name="BasicHttpBinding_IRelPreguntaOpcMults" />
        <binding name="BasicHttpBinding_IRelPreguntaEncuestas" />
        <binding name="BasicHttpBinding_IResOpcMults" />
        <binding name="BasicHttpBinding_IRelEnProcesos" />
        <binding name="BasicHttpBinding_IConexion" />
        <binding name="BasicHttpBinding_ICLIENTE" />
        <binding name="BasicHttpBinding_ITurno" />
        <binding name="BasicHttpBinding_ILlamada" />
        <binding name="BasicHttpBinding_IRel_Clientes_TiposClientes" />
        <binding name="BasicHttpBinding_ITipoCliente" />
        <binding name="BasicHttpBinding_ICatalogoPeriodosCorte" />
        <binding name="BasicHttpBinding_ICliente_Apellido" />
        <binding name="BasicHttpBinding_ITap" />
        <binding name="BasicHttpBinding_IDatoFiscal" />
        <binding name="BasicHttpBinding_IMotivoCancelacion" />
        <binding name="BasicHttpBinding_IRelEncuestaPreguntaRes" />
        <binding name="BasicHttpBinding_IQueja" />
        <binding name="BasicHttpBinding_ICIUDAD" />
        <binding name="BasicHttpBinding_ICVECOLCIU" />
        <binding name="BasicHttpBinding_ICOLONIA" />
        <binding name="BasicHttpBinding_ICVECAROL" />
        <binding name="BasicHttpBinding_ICALLE" />
        <binding name="BasicHttpBinding_IBusquedaIndividual" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuario"
        contract="SoftvService.IUsuario" name="BasicHttpBinding_IUsuario" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRole"
        contract="SoftvService.IRole" name="BasicHttpBinding_IRole" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModule"
        contract="SoftvService.IModule" name="BasicHttpBinding_IModule" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPermiso"
        contract="SoftvService.IPermiso" name="BasicHttpBinding_IPermiso" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncuesta"
        contract="SoftvService.IEncuesta" name="BasicHttpBinding_IEncuesta" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPregunta"
        contract="SoftvService.IPregunta" name="BasicHttpBinding_IPregunta" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoPreguntas"
        contract="SoftvService.ITipoPreguntas" name="BasicHttpBinding_ITipoPreguntas" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelEncuestaClientes"
        contract="SoftvService.IRelEncuestaClientes" name="BasicHttpBinding_IRelEncuestaClientes" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelPreguntaOpcMults"
        contract="SoftvService.IRelPreguntaOpcMults" name="BasicHttpBinding_IRelPreguntaOpcMults" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelPreguntaEncuestas"
        contract="SoftvService.IRelPreguntaEncuestas" name="BasicHttpBinding_IRelPreguntaEncuestas" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResOpcMults"
        contract="SoftvService.IResOpcMults" name="BasicHttpBinding_IResOpcMults" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelEnProcesos"
        contract="SoftvService.IRelEnProcesos" name="BasicHttpBinding_IRelEnProcesos" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConexion"
        contract="SoftvService.IConexion" name="BasicHttpBinding_IConexion" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICLIENTE"
        contract="SoftvService.ICLIENTE" name="BasicHttpBinding_ICLIENTE" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITurno"
        contract="SoftvService.ITurno" name="BasicHttpBinding_ITurno" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILlamada"
        contract="SoftvService.ILlamada" name="BasicHttpBinding_ILlamada" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRel_Clientes_TiposClientes"
        contract="SoftvService.IRel_Clientes_TiposClientes" name="BasicHttpBinding_IRel_Clientes_TiposClientes" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoCliente"
        contract="SoftvService.ITipoCliente" name="BasicHttpBinding_ITipoCliente" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoPeriodosCorte"
        contract="SoftvService.ICatalogoPeriodosCorte" name="BasicHttpBinding_ICatalogoPeriodosCorte" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICliente_Apellido"
        contract="SoftvService.ICliente_Apellido" name="BasicHttpBinding_ICliente_Apellido" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITap"
        contract="SoftvService.ITap" name="BasicHttpBinding_ITap" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatoFiscal"
        contract="SoftvService.IDatoFiscal" name="BasicHttpBinding_IDatoFiscal" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrabajo"
        contract="SoftvService.ITrabajo" name="BasicHttpBinding_ITrabajo" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipServ"
        contract="SoftvService.ITipServ" name="BasicHttpBinding_ITipServ" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMotivoCancelacion"
        contract="SoftvService.IMotivoCancelacion" name="BasicHttpBinding_IMotivoCancelacion" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRelEncuestaPreguntaRes"
        contract="SoftvService.IRelEncuestaPreguntaRes" name="BasicHttpBinding_IRelEncuestaPreguntaRes" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueja"
        contract="SoftvService.IQueja" name="BasicHttpBinding_IQueja" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICIUDAD"
        contract="SoftvService.ICIUDAD" name="BasicHttpBinding_ICIUDAD" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICVECOLCIU"
        contract="SoftvService.ICVECOLCIU" name="BasicHttpBinding_ICVECOLCIU" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICOLONIA"
        contract="SoftvService.ICOLONIA" name="BasicHttpBinding_ICOLONIA" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICVECAROL"
        contract="SoftvService.ICVECAROL" name="BasicHttpBinding_ICVECAROL" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICALLE"
        contract="SoftvService.ICALLE" name="BasicHttpBinding_ICALLE" />
      <endpoint address="http://localhost:64481/SoftvWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusquedaIndividual"
        contract="SoftvService.IBusquedaIndividual" name="BasicHttpBinding_IBusquedaIndividual" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SoftvMVC.Properties.Settings>
      <setting name="pagnum" serializeAs="String">
        <value>15</value>
      </setting>
    </SoftvMVC.Properties.Settings>
  </applicationSettings>
</configuration>