@{
    List<Softv.Entities.RoleEntity> Roles = (List<Softv.Entities.RoleEntity>)ViewData["Roles"];
}
<link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
<script src="~/plugins/iCheck/icheck.min.js"></script>
<section class="content-header">
    <h1>
        Usuarios
        <small>Lista de Usuarios</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Usuarios</li>
    </ol>
</section>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                

            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaUsuarios" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>IdUsuario</b></td>
                            <td><b>IdRol</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Email</b></td>
                            <td><b>Usuario</b></td>
                            <td><b>Password</b></td>
                            <td><b>Estado</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <td><b>IdUsuario</b></td>
                            <td><b>IdRol</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Email</b></td>
                            <td><b>Usuario</b></td>
                            <td><b>Password</b></td>
                            <td><b>Estado</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>

    </div>

</div>





<div class="modal fade bs-example-modal-lg" id="ModalAgregarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>



                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="Nombre" placeholder="Nombre del usuario">
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="email" class="form-control" id="email" placeholder="Email" >
                                            </div>                                           
                                        </div>
                                        <br />

                                    <div class="row">
                                        <div class="col-sm-5">
                                            
                                            <input id="pass" type="password" class="form-control" placeholder="teclea la contraseña" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input id="cpass" type="password" class="form-control" placeholder="confirma contraseña" />
                                        </div>
                                    </div>




                                        <div class="row">
                                            <div class="col-sm-5">
                                                <select class="form-control" id="rol">
                                                    <option disabled selected> Selecciona un Rol</option>
                                                    @foreach (var a in Roles)
                                                    {
                                                        <option value="@a.IdRol">@a.Nombre</option>
                                                    }

                                                </select>

                                            </div>
                                            <div class="col-sm-5">
                                                <div class="checkbox icheck">
                                                    <input id="Status" type="checkbox" name="" value="status">
                                                    <label for=""> Activo</label>
                                                </div>
                                            </div>
                                        </div>


                                   
                                </div>
                            </div>
                            <br />


                        </div><!-- /.tab-content -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Salir</button>
                    <button class="btn btn-success" onclick="GuardaUsuario();" type="button"> <i class="fa fa-check" aria-hidden="true"></i> Guardar Usuario</button>
                </div>
               
            </div>
        </div>
    </div>


</div>


@*MODAL DETALLE USUARIOS*@
<div class="modal fade bs-example-modal-lg" id="ModalDetalleUsuarios" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalles de Usuario</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">cerrar</button>
                <button class="btn btn-primary" type="button">Aceptar</button>
            </div>
        </div>
    </div>
</div>





<script src="~/dist/js/pages/Usuario/Lista.js"></script>
    <script src="~/dist/js/pages/Usuario/AgregarUsuario.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });



    </script>
    


