@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>*@
@{
    List<Softv.Entities.ConexionEntity> conexiones = (List<Softv.Entities.ConexionEntity>)ViewData["Conexiones"];

}
<section class="content-header">
    <h1>
        Encuestas
        <small>Lista de Clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Clientes</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">


            </div><!-- /.box-header -->
            <div class="box-body">

                <select class="form-control" id="conexiones">
                    @foreach (var a in conexiones)
                    {
                        <option value="@a.IdConexion.Value">@a.Plaza</option>
                    }

                </select>

                <table id="TablaClientes" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td style="width:5%;"><b>Contrato</b></td>
                            <td style="width:30%;"><b>Nombre</b></td>
                             <td><b>Teléfono</b></td>
                            <td><b>Email</b></td>                           
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <td><b>Contrato</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Teléfono</b></td>
                            <td><b>Email</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalEditarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Catálogo de preguntas </h4>
            </div>
            <div class="modal-body">
               

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                        <li class=""><a href="#tab_2a" id="tab-preguntas" data-toggle="tab" aria-expanded="false">Datos Fiscales</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">contrato</label>

                                        <input class="form-control" type="text" id="contrato">
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre del cliente</label>
                                        <input class="form-control" type="text" id="nombre">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>
                                        <input class="form-control" type="text" id="calle">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Número</label>
                                        <input class="form-control" type="text" id="numero">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="cp">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre Calles</label>
                                        <input class="form-control" type="text" id="calles">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                        <input class="form-control" type="text" id="colonia">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telefono fijo</label>
                                        <input class="form-control telefono" type="text" id="telefono">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Celular</label>
                                        <input class="form-control" type="text" id="celular">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input class="form-control" type="text" id="correo">
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="tab-pane" id="tab_2a">     
                        
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">RFC</label>

                                        <input class="form-control" type="text" id="rfc">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">CURP</label>
                                        <input class="form-control" type="text" id="curp">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Razón social</label>
                                        <input class="form-control" type="text" id="rsocial">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Estado</label>

                                        <input class="form-control" type="text" id="EstadoFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ciudad</label>
                                        <input class="form-control" type="text" id="CiudadFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                        <input class="form-control" type="text" id="ColoniaFiscal">
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>

                                        <input class="form-control" type="text" id="calleFiscal">
                                    </div>
                                </div>
                               
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Numero</label>
                                        <input class="form-control" type="text" id="NumeroFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="postafiscal">
                                    </div>
                                </div>
                              
                            </div>


                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>

                                        <input class="form-control" type="text" id="calleFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre calles</label>

                                        <input class="form-control" type="text" id="callesFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Numero</label>
                                        <input class="form-control" type="text" id="NumeroFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="postafiscal">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Teléfono</label>

                                        <input class="form-control" type="text" id="TelefonoFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fax</label>
                                        <input class="form-control" type="text" id="FaxFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                   
                                </div>

                            </div>                   
                        
                                              
                           
                          
                          
                           
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-pane -->



                </div><!-- /.tab-content -->


            


            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary pull-right" id="Editar" type="button" data-dismiss="modal">Editar</button>

            </div>
        </div>
    </div>
</div>
























    <script src="~/dist/js/pages/Cliente/Lista.js"></script>
    <script src="~/dist/js/pages/Cliente/Lista.js"></script>
    <script src="~/dist/js/pages/Client/Utilerias.js"></script>
