@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>*@
@{
    List<Softv.Entities.ConexionEntity> conexiones = (List<Softv.Entities.ConexionEntity>)ViewData["Conexiones"];

}
<section class="content-header">
    <h1>
        Clientes
        <small>Lista de Clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Clientes</li>
    </ol>
</section>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-4">
                        <label>Selecciona una plaza</label>
                        <select class="form-control" id="conexiones">
                            @foreach (var a in conexiones)
                            {
                                <option value="@a.IdConexion.Value">@a.Plaza</option>
                            }

                        </select>

                    </div>
                    <div class="col-md-4">
                        <label>Buscar por:</label>
                        <select class="form-control" id="filtros">
                            <option selected disabled>Selecciona un filtro</option>
                            <option value="1">Contrato</option>
                            <option value="2">Nombre</option>
                            <option value="3">Dirección</option>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <div class="input-group input-group-sm" id="Pcontrato" style="display:none;">
                            <input class="form-control" type="text" id="fcontrato" placeholder="digite el contrato con el sig. formato ej.(227-2)">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-flat" type="button" id="bcontrato">Buscar</button>
                            </span>
                            
                        </div>

                        <div class="input-group input-group-sm" id="Pnombre" style="display:none;">
                            <input class="form-control" type="text" id="fnombre" placeholder="Nombre completo del cliente">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-flat" type="button" id="bnombre">Buscar</button>
                            </span>

                        </div>
                        <div class="input-group input-group-sm" id="Pdireccion" style="display:none;">
                            <input class="form-control" type="text" id="fdireccion" placeholder="Direccion del cliente">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-flat" type="button" id="bdireccion">Buscar</button>
                            </span>

                        </div>

                    </div>

                </div>

            </div><!-- /.box-header -->
            <div class="box-body">
               
               
                <br />
                <table id="TablaClientes" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td style="width:5%;"><b>Contrato</b></td>
                            <td style="width:30%;"><b>Nombre</b></td>
                             <td><b>Teléfono</b></td>
                            <td><b>Email</b></td>                           
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <td><b>Contrato</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Teléfono</b></td>
                            <td><b>Email</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalEditarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar cliente </h4>
            </div>
            <div class="modal-body">
               

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-folder" aria-hidden="true"></i> Información principal</a></li>
                        <li class=""><a href="#tab_2a" id="tab-preguntas" data-toggle="tab" aria-expanded="false"><i class="fa fa-book" aria-hidden="true"></i> Datos Fiscales</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          




                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">contrato</label>

                                        <input class="form-control" type="text" id="contrato">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre del cliente</label>
                                        <input class="form-control" type="text" id="nombre">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ciudad</label>
                                        <select class="form-control" id="ciudad">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                       <select class="form-control" id="colonia" name="colonia">

                                       </select>
                                   </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>
                                        <select class="form-control" id="calle" name="calle"></select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Número</label>
                                        <input class="form-control" type="text" id="numero">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="cp">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre Calles</label>
                                        <input class="form-control" type="text" id="calles">
                                    </div>
                                </div>
                              


                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telefono fijo</label>
                                        <input class="form-control telefono" type="text" id="telefono">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Celular</label>
                                        <input class="form-control" type="text" id="celular">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input class="form-control" type="text" id="correo">
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" id="iva" />
                            <input type="hidden" id="solointernet" />
                            <input type="hidden" id="eshotel" />
                            <input type="hidden" id="sector" />
                            <input type="hidden" id="periodo" />
                            <input type="hidden" id="tap" />
                            <input type="hidden" id="zona2" />
                        </div>
                        <div class="tab-pane" id="tab_2a">     
                        
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">RFC</label>

                                        <input class="form-control" type="text" id="rfc">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">CURP</label>
                                        <input class="form-control" type="text" id="curp">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Razón social</label>
                                        <input class="form-control" type="text" id="rsocial">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Estado</label>

                                        <input class="form-control" type="text" id="EstadoFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ciudad</label>
                                        <input class="form-control" type="text" id="CiudadFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                        <input class="form-control" type="text" id="ColoniaFiscal">
                                    </div>
                                </div>

                            </div>


                           


                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>

                                        <input class="form-control" type="text" id="calleFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre calles</label>

                                        <input class="form-control" type="text" id="callesFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Numero</label>
                                        <input class="form-control" type="text" id="NumeroFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="postafiscal">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Teléfono</label>

                                        <input class="form-control" type="text" id="TelefonoFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fax</label>
                                        <input class="form-control" type="text" id="FaxFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                   <input type="hidden" id="ivafiscal" />
                                    <input type="hidden" id="idasociadofiscal" />
                                    <input type="hidden"  id="identificadorfiscal"/>
                                    <input type="hidden" id="tipofiscal" />
                                    
                                </div>

                            </div>                   
                        
                                              
                           
                          
                          
                           
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-pane -->



                </div><!-- /.tab-content -->


            


            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary pull-right" id="Editar" type="button" data-dismiss="modal">Editar</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalDetalleCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalle de cliente
                 </h4>
            </div>
            <div class="modal-body">

                <div class="box-body">
                    <div class="box-header with-border">
                        <h3 class="box-title box-primary">Datos personales</h3>
                    </div>
                    <div class="box-body">

                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="info-box-content">

                                <span class="info-box-number">Eric Alejandro Chávez Gómez</span>

                                <span class="info-box-text"><label>Contrato: </label> 2123</span>

                                <div class="row">
                                    <div class="col-xs-3">
                                        <label><i class="fa fa-phone"></i> Télefono</label><p>4658558888</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label><i class="fa fa-mobile-phone"></i> Celular:</label><p>45658888</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label><i class="fa fa-envelope"></i> Correo:</label><p>erictics@gmail.com</p>

                                    </div>
                                </div>
                            </div><!-- /.info-box-content -->
                        </div>

                        <div class="info-box">
                            <span class="info-box-icon bg-green" style="background-color:#9E9E9E !important;"><i class="fa fa-home" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label> Estado</label><p>Aguascalientes</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Ciudad:</label><p>Aguascalientes</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Colonia:</label><p>Trojes de oriente</p>

                                    </div>
                                    <div class="col-xs-3">
                                        <label> Calle:</label><p>Trojes del vivero</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Número:</label><p>25</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>CP:</label><p>206685</p>

                                    </div>
                                </div>
                                

                            </div>
                        </div>

                                                    

                              
                            </div>
                        </div>
                        

                    </div>
               

                
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
                
            </div>
        </div>
    </div>
</div>























<script src="~/dist/js/pages/Cliente/Lista.js"></script>    
<script src="~/dist/js/pages/Cliente/DetalleCliente.js"></script>
<script src="~/dist/js/pages/Cliente/EditaCliente.js"></script>    

   
