@*@{
                        ViewBag.Title = "Index";
                    }
    <h2>Index</h2>*@

<!--con este formulario  vas a enviar los x datos que quieres al controlador
    te acuerdas como los enviaba de otra forma con ajax() pues ajax no me puede regresar contenido de archivos asi que un formulario lo solucionará
    -->

<section class="content-header">
    <h1>
        Reportes Varios de Servicio Básico de Televisión
        <small>Lista de Reportes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Reportes</li>
    </ol>
</section>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Reportes</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="Tabla" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td>
                                <div align="center">
                                    <div class="row form-group">
                                        <div class="col-lg-12    col-md-12    col-sm-12    col-xs-12">
                                            <select name='listaTipoServicio' onchange='filtraOnChange(this);' id='listaTipoServicio' class='form-control'>
                                                <option value="1">Servicio de Tv por Cable</option>
                                                <option value="2">Internet</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-12    col-md-12    col-sm-12    col-xs-12" align="left">
                                            <form action="">
                                                <label>Ordenar Reportes Por</label><br>
                                                <input type="radio" name="a" value="contrato"> Contrato<br>
                                                <input type="radio" name="a" value="coloniaCalle"> Colonia y Calle<br>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row form-group" id="esinternet" style="display: none;" align="left">
                                        <div class="col-lg-12    col-md-12    col-sm-12    col-xs-12">
                                            <form action="">
                                                <label>Filtrar Por</label><br>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="soloInternet">Solo Internet</label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-lg-12    col-md-12    col-sm-12    col-xs-12" align="center">

                                            <form action="" method="post" id="formulario">
                                                @*ordenar alfabéticamente*@

                                                <button class='btn btn-info btn-md btn-block' type='button' id="ordenBtn"
                                                        style="width:210px" value=" " onclick="ordenDesorden('reportes')">
                                                    <i class='' aria-hidden='true'></i> Reportes
                                                </button>

                                                <select name="reporte" id="reportes" size=13 style="width:210px">
                                                    <!--(value o idReporte, idModal)-->
                                                    <option value="0" onclick="secuenciaModal(0, 0)">Desconectados</option>
                                                    <option value="1" onclick="secuenciaModal(1, 0)">Suspendidos</option>
                                                    <option value="2" onclick="secuenciaModal(2, 0)">Al corriente</option>
                                                    <option value="3" onclick="secuenciaModal(3, 0)">Adelantados</option>
                                                    <option value="4" onclick="secuenciaModal(4, 0)">Contrataciones</option>
                                                    <option value="5" onclick="secuenciaModal(5, 0)">Por Pagar</option>
                                                    <option value="6" onclick="secuenciaModal(6, 0)">Instalaciones</option>
                                                    <option value="7" onclick="secuenciaModal(7, 0)">Cancelaciones</option>
                                                    <option value="8" onclick="secuenciaModal(8, 0)">Por Instalar</option>
                                                    <option value="9" onclick="secuenciaModal(9, 0)">Fueras de Area</option>
                                                    <option value="10" onclick="secuenciaModal(10, 1)">Paquetes de Cortesia </option>
                                                    <option value="11" onclick="secuenciaModal(11, 0)">Ciudad</option>
                                                    <option value="12" onclick="secuenciaModal(12, 0)">Resumen por Colonia y Status</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div name="botones">
                                    @*<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#tipoCliente">tipoCliente</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#tipoServicio">tipoServicio</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ciudades">ciudades</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#colonias">colonias</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#telefono">telefono</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#periodo">periodo</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#estatusOrden">estatusOrden</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#rangoFechas">rangoFechas</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#calles">calles</button>
                                        <button class="btn btn-default" type="button" data-dismiss="modal" onclick="pdf();">pdf</button>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#estatusCliente">estatusCliente</button>
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" onclick="functionAceptar();">Probarfunción</button>*@
                                </div>

                            </td>
                            <td style="width:70%;" align="center">
                                <div id="reportePdf" style="width:100%;">
                                    @*<embed src="~/Reportes/otroReporte.pdf" width="500" height="750">*@
                                    <div class="col-md-10 col-md-offset-1   col-sm-10 col-sm-offset-1    col-xs-10 col-xs-offset-1">

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>




@*MODAL Selección Tipo de Cliente*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="tipoCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(1,'#tipoCliente')">×</button>
                <h4 class="modal-title">Selección Tipos de Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">
                                <input type="hidden" value="" id="idReporte1" />  @****guarda el index del reporte al que se le dio click ******@

                                <form action="" method="post" id="formulario" class="validar_form">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Seleccione Tipo(s) de Cliente(s)</label>

                                                    <select name="origenClientes" id="origenClientes" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">Cargo Automático</option>
                                                        <option value="1">Hoteles</option>
                                                        <option value="2">Pago en Sucursales</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('tipoCliente');">
                                                        @*envío idModal*@
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('tipoCliente');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('tipoCliente');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('tipoCliente');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Tipos de Clientes Seleccionados</label>
                                                    <select name="destinoClientes" id="destinoClientes" multiple="multiple" size=10 style="width:170px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </form>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar1" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 1, '#tipoCliente')">
                    Aceptar
                </button>
                <button class="btn btn-primary" type="button" onclick="cancelar(1,'#tipoCliente')">Cancelar</button>
            </div>
        </div>
    </div>
</div>





@*MODAL Selección Servicio*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="tipoServicio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(2, '#tipoServicio')">×</button>
                <h4 class="modal-title">Selección Tipos de Servicios</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">

                                <form action="" method="post" id="formulario">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Seleccione Servicio(s)</label>
                                                    <select name="origenServicios" id="origenServicios" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">Servicio Básico</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('tipoServicio');">
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('tipoServicio');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('tipoServicio');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('tipoServicio');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Servicios Seleccionados</label>
                                                    <select name="destinoServicios" id="destinoServicios" multiple="multiple" size=10 style="width:170px"></select>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar2" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 2, '#tipoServicio')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(2,'#tipoServicio')">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@*MODAL Selección Ciudades*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="ciudades" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(3, '#ciudades')">×</button>
                <h4 class="modal-title">Selección de Ciudades</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">

                                <form action="" method="post" id="formulario">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Seleccione Ciudad(es)</label>
                                                    <select name="origenCiudades" id="origenCiudades" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">Mérida</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('ciudades');">
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('ciudades');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('ciudades');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('ciudades');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Ciudad(es) Seleccionadas</label>
                                                    <select name="destinoCiudades" id="destinoCiudades" multiple="multiple" size=10 style="width:170px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar3" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 3, '#ciudades')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(3,'#ciudades')">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*MODAL Selección Colonias*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="colonias" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(4, '#colonias')">×</button>
                <h4 class="modal-title">Selección de Colonias</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">
                                <form action="" method="post" id="formulario">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Seleccione Colonia(s)</label>
                                                    <select name="origenColonias" id="origenColonias" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">una</option>
                                                        <option value="1">dos</option>
                                                        <option value="2">tres</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('colonias');">
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('colonias');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('colonias');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('colonias');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>

                                                    <label>Colonia(s) Seleccionadas</label>
                                                    <select name="destinoColonias" id="destinoColonias" multiple="multiple" size=10 style="width:170px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" id="aceptar4" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 4, '#colonias')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(4,'#colonias')">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL Selección Teléfono*@
<div class="modal fade bs-example-modal-sm" data-backdrop="static" data-keyboard="false" id="telefono" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(5, '#telefono')">×</button>
                <h4 class="modal-title">Selección Teléfono</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="right">

                                <div class="col-md-10 col-md-offset-1    col-sm-10 col-sm-offset-1    col-xs-10">
                                    <form action="" align="left">
                                        <label>Seleccione la opción </label><br>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="conTel" id="conTel">Con Teléfono</label>
                                            <br>
                                            <label><input type="checkbox" value="sinTel" id="sinTel">Sin Teléfono</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar5" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 5, '#telefono')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(5,'#telefono')">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@*MODAL Selección Periodo*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="periodo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(6, '#periodo')">×</button>
                <h4 class="modal-title">Selección de Periodos</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">
                                <input type="hidden" value="" id="idReporte" />  @****guarda el index del reporte al que se le dio click ******@
                                <form action="" method="post" id="formulario">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <br>
                                                    <label>Periodo(s) Disponible(s)</label>
                                                    <select name="origenPeriodo" id="origenPeriodo" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">Periodo 30</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('periodo');">
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('periodo');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('periodo');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('periodo');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <br>
                                                    <label>Periodo(s) Seleccionado(s)</label>
                                                    <select name="destinoPeriodo" id="destinoPeriodo" multiple="multiple" size=10 style="width:170px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="row form-group" align="center">
                                <div id="mesP" class="col-md-5 col-md-offset-1  col-sm-5  col-sm-offset-1   col-xs-6">
                                    <label>Mes que Adeuda</label>
                                    <select name='listaMes' onchange='' id='listaMes' class='form-control'>
                                        <option value="">Enero</option>
                                        <option value="">Febrero</option>
                                        <option value="">Marzo</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div id="anioP" class="col-md-5    col-sm-5    col-xs-6">
                                    <label>Año</label>
                                    <input type='text' id="anioCP" class='form-control' onkeypress="return valida(event)">

                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar6" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 6, '#periodo')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(6,'#periodo')">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL Selección Estatus de la Orden*@
<div class="modal fade bs-example-modal-sm" data-backdrop="static" data-keyboard="false" id="estatusOrden" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(7, '#estatusOrden')">×</button>
                <h4 class="modal-title">Selección de Estatus de Orden</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="right">

                                <div class="col-md-10 col-md-offset-1    col-sm-10 col-sm-offset-1    col-xs-10">
                                    <form action="" align="left">
                                        <label>Seleccione el Estatus de la Orden </label><br>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="ejecutada" id="ejecutada">Ejecutada</label>
                                            <br>
                                            <label><input type="checkbox" value="pendiente" id="pendiente">Pendiente</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar7" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 7, '#estatusOrden'); pdf();">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(7,'#estatusOrden')">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL Selección rangoFechas*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="rangoFechas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(8, '#rangoFechas')">×</button>
                <h4 class="modal-title">Selección Rango de Fechas</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">
                                <div class="col-md-10 col-md-offset-1   col-sm-10 col-sm-offset-1    col-xs-10 col-xs-offset-1">
                                    <label>Fecha Inicial: </label>
                                    <input type="date" id="fechaInicial" name="fechaInicial">
                                </div>
                            </div>

                            <div class="row form-group" align="center">
                                <div class="col-md-10 col-md-offset-1   col-sm-10 col-sm-offset-1    col-xs-10 col-xs-offset-1">
                                    <label>Fecha Final: </label>
                                    <input type="date" id="fechaFinal" name="fechaFinal" value="">
                                </div>
                            </div>
                            <div class="row form-group" align="center">
                                <div id="motivoCancelacion" class="col-md-10 col-md-offset-1   col-sm-10 col-sm-offset-1    col-xs-10 col-xs-offset-1">
                                    <label>Seleccione el Motivo de Cancelación</label>
                                    <br>
                                    <select name='listaMotivo' onchange='' id='listaMotivo' class='form-control'>
                                        <option value="">Todos</option>
                                        <option value="">Ninguno</option>
                                        <option value="">Cancelación</option>
                                        <option value="">Fuera de área</option>
                                        <option value="">Cancelación solicitada</option>
                                        <option value="">Fallas constantes</option>
                                        <option value="">No tiene dinero</option>
                                        <option value="">Cambio de residencia</option>
                                        <option value="">Cancelación temporal no deja adeudo</option>
                                        <option value="">Contrato otro servicio</option>
                                        <option value="">Hizo fraude</option>
                                        <option value="">Tiempo excesivo de instalación</option>
                                    </select>
                                </div>
                            </div>

                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar8" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 8, '#rangoFechas'); pdf();">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(8,'#rangoFechas')">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@*MODAL calles*@
<div class="modal fade bs-example-modal-md" data-backdrop="static" data-keyboard="false" id="calles" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(11, '#calles')">×</button>
                <h4 class="modal-title">Selección Calles</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row form-group" align="center">

                                <form action="" method="post" id="formulario">
                                    <table>
                                        <tr>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Seleccione Calle(s)</label>
                                                    <select name="origenCalles" id="origenCalles" multiple="multiple" size=10 style="width:170px">
                                                        <option value="0">1</option>
                                                        <option value="1">10</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td style="width:10%;" align="center">
                                                <div>
                                                    <br><button class='btn btn-default btn-sm btn-block pasar' type='button' id="pasar"
                                                                value="pasar" onclick="seleccionar('calles');">
                                                        <i class='' aria-hidden='true'></i> >
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block pasarTodos' type='button' id="pasarTodos"
                                                                value="pasarTodos" onclick="seleccionar('calles');">
                                                        <i class='' aria-hidden='true'></i> >>
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitar' type='button' id="quitar"
                                                                value="quitar" onclick="seleccionar('calles');">
                                                        <i class='' aria-hidden='true'></i> <
                                                    </button>
                                                    <br><button class='btn btn-default btn-sm btn-block quitarTodos' type='button' id="quitarTodos"
                                                                value="quitarTodos" onclick="seleccionar('calles');">
                                                        <i class='' aria-hidden='true'></i> <<
                                                    </button>
                                                </div>
                                            </td>
                                            <td style="width:45%;" align="center">
                                                <div>
                                                    <label>Calles Seleccionadas</label>
                                                    <select name="destinoCalles" id="destinoCalles" multiple="multiple" size=10 style="width:170px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </form>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="aceptar11" type="button" data-toggle="modal" onclick="functionAceptar($('#idReporte1').val(), 11, '#calles')">Aceptar</button>
                <button class="btn btn-primary" type="button" onclick="cancelar(11,'#calles')">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@*MODAL Selección Estatus Cliente Sin un botón*@
<div class="modal fade bs-example-modal-lg" data-backdrop="static" data-keyboard="false" id="estatusCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" onclick="cancelar(12, '#estatusCliente')">×</button>
                <h4 class="modal-title">Selección de Estatus de Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <table border="0" cellpadding="0" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td style="width:65%;">
                                        <table border="0" cellpadding="0" cellspacing="1" style="width:100%;">
                                            <tr>
                                                <td>
                                                    <form action="" align="center">
                                                        <label>Selecciona el Estatus de Cliente</label>
                                                        <br>
                                                        <div class="checkbox" style="background-color:#F5F5F5">
                                                            <div class="row form-group" align="left">
                                                                <div class="col-md-3 col-md-offset-1    col-sm-4   col-xs-6">
                                                                    <label><input type="checkbox" value="contratado" id="contratado">Contratado</label>
                                                                </div>

                                                                <div class="col-md-4    col-sm-4   col-xs-6">
                                                                    <label><input type="checkbox" value="fuera" id="fuera">Fuera de Área</label>
                                                                </div>
                                                                <div class="col-md-3    col-sm-4   col-xs-6">
                                                                    <label><input type="checkbox" value="suspendidos" id="suspendidos">Suspendidos Temporales</label>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" align="left">
                                                                <div class="col-md-3 col-md-offset-1     col-sm-4   col-xs-6">
                                                                    <label><input type="checkbox" value="instalados" id="instalados">Instalado</label>
                                                                </div>
                                                                <div class="col-md-4    col-sm-4   col-xs-6">
                                                                    <label><input type="checkbox" value="desconectado" id="desconectado">Desconectado</label>
                                                                </div>
                                                                <div class="col-md-3    col-sm-4   col-xs-6">
                                                                    <label>
                                                                        <input type="checkbox" value="cancelados" id="cancelados" name="cancelados"
                                                                               onchange="checar()">Cancelados
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group" align="center">
                                                                <div class="row form-group" align="center">
                                                                    <div class="col-md-12     col-sm-12   col-xs-12">
                                                                        <label><input type="checkbox" value="suspendidosTempo" id="suspendidosTempo">Suspendidos Temporales</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="row form-group" align="center">
                                                        <div class="col-md-12    col-sm-12   col-xs-12">
                                                            <label>
                                                                <input type="checkbox" value="" id="ocultarMostrar" name="ocultarMostrar"
                                                                       onchange="checar()">Buscar por mes que adeudan y año
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div id="ocultarMostrarDiv" style="background-color:#F5F5F5">
                                                        <div class="row form-group">
                                                            <br>
                                                            <div class="col-md-5 col-md-offset-0    col-sm-6 col-sm-offset-0    col-xs-10 col-xs-offset-1" align="center">
                                                                <label>Buscar por el mes que sea:</label>
                                                            </div>
                                                            <div class="col-md-5 col-md-offset-1    col-sm-6 col-sm-offset-0   col-xs-10 col-xs-offset-1" align="center">
                                                                <select name='listaMenorIgual' onchange='' id='listaMenorIgual' class='form-control' disabled>
                                                                    <option value="">Menor o igual</option>
                                                                    <option value="">Igual</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group" align="center">
                                                            <div class="col-md-5 col-md-offset-1    col-sm-6 col-sm-offset-0    col-xs-10 col-xs-offset-1" align="center">
                                                                <label>Mes que adeuda</label>
                                                                <select name='listaMesQueAdeuda' onchange='' id='listaMesQueAdeuda' class='form-control' disabled>
                                                                    <option value="">Enero</option>
                                                                    <option value="">Febrero</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-5 col-md-offset-0    col-sm-6 col-sm-offset-0   col-xs-10 col-xs-offset-1" align="center">
                                                                <label>Año</label>
                                                                <input type="text" id="anioC" class="form-control" onkeypress="return valida(event)" disabled>
                                                            </div>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td align="left">
                                        <div class="row form-group" align="center">
                                            <div class="col-md-10 col-md-offset-1    col-sm-10 col-sm-offset-1   col-xs-10 col-xs-offset-1" id="cancelacionDiv">
                                                <label>Seleccione el motivo de la cancelación</label>
                                                <select name='listaCancelacion' onchange='' id='listaCancelacion' class='form-control' disabled>
                                                    <option value="">Todos</option>
                                                    <option value="">Ninguno</option>
                                                    <option value="">Cancelación por falta de pago</option>
                                                    <option value="">Fuera de área</option>
                                                    <option value="">Cancelación solicitada</option>
                                                    <option value="">Fallas constantes</option>
                                                    <option value="">Cancelación temporal no deja adeudo</option>
                                                </select>
                                                <br>
                                            </div>

                                            <div class="col-md-6    col-md-offset-3     col-sm-8 col-sm-offset-2   col-xs-12">
                                                <div>
                                                    <button class="btn btn-default btn-block" id="aceptar12" type="button" data-toggle="modal"
                                                            onclick="functionAceptar($('#idReporte1').val(), 12, '#estatusCliente')">
                                                        Imprimir Reporte
                                                    </button>
                                                </div>
                                                <br>
                                                <div id="imprimirEtiquetas">
                                                    <button class="btn btn-default btn-block" id="aceptar12" type="button" data-toggle="modal"
                                                            onclick="functionAceptar($('#idReporte1').val(), 12,'#estatusCliente')">
                                                        Imprimir Etiquetas
                                                    </button>
                                                </div>
                                                <div id="txtEscondido" type="hidden" style="display:none"></div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-default" type="button" data-dismiss="modal" data-toggle="modal" onclick="secuenciaModal($('#idReporte1').val(), 12)">Aceptar</button>*@
                <button class="btn btn-primary" type="button" onclick="cancelar(12,'#estatusCliente')">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script>

</script>

<script src="~/dist/js/pages/ReportesVarios/Lista.js">
</script>
<script>
    $(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.5').addClass('active');
    });
</script>







