@{
    List<Softv.Entities.ClasificacionProblemaEntity> Problema = (List<Softv.Entities.ClasificacionProblemaEntity>)ViewData["Roles"];
    try
    {

        List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
        var per = Permiso.Where(p => p.IdModule == 27).FirstOrDefault();
        <script>
            var Problema_editar = "@per.OptUpdate";
            var permiso_Problema = "@per.OptAdd";
            var Problema_eliminar = "@per.OptDelete";
        </script>
    }
    catch
    {
        <script>
            location.href = "/";
        </script>
    }

}




<section class="content-header">
    <h1>
        Clasificación Problemas
        <small>Lista de Clasificación Problemas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Clasificación Problemas</li>
    </ol>
</section>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Clasificación Problemas</h3>

            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="ClasificacionProblem" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>IdProblema</b></td>
                            <td><b>Descripción</b></td>
                            <td class="text-center"><b>Activo</b></td>
                            <td><b>Tipo Servicio</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>
    </div>
</div>



@*MODAL AGREGAR*@
<div class="modal fade bs-example-modal-xs" id="ModalClasificacionProblem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Clasificación Problemas</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5">
                        <p>Descripción</p>
                        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripción Problema">
                    </div>

                    <div class="col-md-3">
                        <p>Status</p>
                        <div style="padding-left:20px;">
                            <div class="checkbox icheck">
                                <input id="Activo" type="checkbox" name="Activo" />
                                <label for="Activo">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Tipo de Servicio</p>
                        <select class="form-control" id="tipo_servicio_select">
                            <option selected disabled>--------------------------</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success" onclick="enviar_problema()" type="button">Guardar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL DETALLE*@
<div class="modal fade bs-example-modal-md" id="ModalDetalleClasificacionProblem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalles de Clasificación Problemas</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6">
                        <label>Descripción:</label>
                        <input type="text" class="form-control detalle_Problem" disabled />
                    </div>

                    <div class="col-xs-3">
                        <div style="padding-left:65px;">
                            <label for="Activo"><strong>Activo</strong></label>
                            <div>
                                <input type="checkbox" id="Activo_detalle" disabled />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL EDITAR*@
<div class="modal fade bs-example-modal-md" id="ModalEditarClasificacionProblem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar Clasificación Problemas</h4>
                <input type="hidden" class="form-control detalle_permiso6" id="id_clasificacion" />
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-5">
                        <p>Descripción</p>
                        <input type="text" class="form-control" id="descripcion_editar" >
                    </div>

                    <div class="col-md-2">
                        <p>Status</p>
                        <div style="padding-left:20px;">
                            <div class="checkbox icheck">
                                <input id="Activo_editar" type="checkbox" name="Activo" />
                                <label for="Activo_editar">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p>Tipo de Servicio</p>
                        <select class="form-control" id="tipo_servicio_edit">
                            <option selected disabled>--------------------------</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" onclick="enviar_editar_MotivoInfo()" type="button">Guardar</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR*@
<div class="modal fade" id="ModalEliminaClasificacionProblem" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Eliminar Clasificación Problemas</h4>
            </div>

            <div class="modal-body">

                <input type="hidden" id="IdProblema" />
                <p class="red">¿Realmente deseas eliminar el problema <strong id="Eliminar_Problema"></strong>?</p>

            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="confirmar_eliminar_Problema()">Eliminar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.27').addClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.24').addClass('active');
    });
</script>


<script src="~/dist/js/pages/ClasificacionProblema/Lista.js"></script>
<script src="~/dist/js/pages/ClasificacionProblema/ModalProblem.js"></script>




