@{
    ViewBag.Title = "Inicio";
}


<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row">
        <div class="col-md-12">
            <p class="text-center" style="padding-top:60px;">
                <img src="~/dist/img/logo.png" width="600" height="500" />
            </p>
        </div>
    </div><!-- /.row (main row) -->

</section><!-- /.content -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                "Clientes",
                "No CLientes",
            ],
            datasets: [
                {
                    data: [300, 50],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB",
                        "#FFCE56"
                    ]
                }]
        },
        animation: {
            animateScale: true
        }
    });
</script>
