@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>*@

<section class="content-header">
    <h1>
        Plazas
        <small>Lista de Plazas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Plazas</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                
          
            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaConexiones" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>Id Conexion</b></td>
                            <td><b>Plaza</b></td>
                            <td><b>Servidor</b></td>
                            <td><b>Base de Datos</b></td>
                            <td><b>Usuario</b></td>
                            <td><b>Password</b></td>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <td><b>Id Conexion</b></td>
                            <td><b>Plaza</b></td>
                            <td><b>Servidor</b></td>
                            <td><b>Base de Datos</b></td>
                            <td><b>Usuario</b></td>
                            <td><b>Password</b></td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalAgregarConexion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="tituloModalAgregarEncuesta">Nueva conexión</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre de la plaza</label>
                            <input class="form-control" id="Nombreplaza" type="text">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">IP del servidor</label>
                            <input class="form-control" id="Servidor" type="text">
                        </div>
                    </div>


                 </div>
                <div class="row">

                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre de la base de datos</label>
                            <input class="form-control" id="base" type="text">
                        </div>


                    </div>

                    <div class="col-xs-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input class="form-control" id="user" type="text">
                        </div>

                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Contraseña</label>
                            <input class="form-control" id="pass" type="text">
                        </div>



                    </div>

                    </div>

                

               

                

                

                
             
            </div>
            <div class="modal-footer">
                <input type="hidden" id="idEncuesta" />
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">cerrar</button>
                <button class="btn btn-primary" id="guardarConexion" type="button">Guardar conexion</button>
               

            </div>
        </div>
    </div>
</div>




<script src="~/dist/js/pages/Conexion/Lista.js">
    //Ruta de lista.js

</script>
