@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>*@

<section class="content-header">
    <h1>
        Respuestas de Opción Múltiple
        <small>Lista de Respuestas de Opción Múltiple</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Respuestas de Opción Múltiple</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Tipo de Respuestas de Opción Múltiple</h3>

            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaResOpcMults" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>Id_ResOpcMult</b></td>
                            <td><b>ResOpcMult</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>

    </div>

</div>






@*MODAL AGREGAR RESOPCMULTs*@
<div class="modal fade bs-example-modal-lg" id="ModalAgregarResOpcMults" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar respuesta de opción múltiple</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="nueva_respuesta" placeholder="Respuesta">
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="tab-pane" id="tab_3">
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="enviar_respuesta()" type="button">Guardar Respuesta</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL DETALLE Tipo de Pregunta*@
<div class="modal fade bs-example-modal-md" id="ModalDetalleResOpcMults" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalles de Tipo de Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Respuesta:</label>
                        <input type="text" class="form-control detalle_respuesta" disabled />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*MODAL EDITAR Tipo de Respuesta*@
<div class="modal fade bs-example-modal-md" id="ModalEditarResOpcMults" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Detalles de Tipo de Pregunta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Respuesta:</label>
                        <input type="text" class="form-control editar_respuesta" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="enviar_editar_respuesta()" type="button">Guardar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="eliminar_respuesta_modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Eliminar Respuesta</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id_respuesta" />
                <p class="red">¿Realmente deseas eliminar la respuesta "<strong id="respuesta_texto"></strong>"?</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="confiramr_eliminar_respuesta()">Eliminar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/dist/js/pages/ResOpcMult/Lista.js"></script>
<script src="~/dist/js/pages/ResOpcMult/modales_respuestas.js"></script>
<script>
    $(document).ready(function () {
        $('#poner_activo li').siblings('li').removeClass('active');
        $('.2').addClass('active');
        $('#sub_activo li').siblings('li').removeClass('active');
        $('.18').addClass('active');
    });
</script>

